Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Updated Snapshots
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: none

Added closing websocket connection [#173468294]
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored signIn handler in topbar [#173468294]
  src/components/Layout/Layout.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added sign-out [#173468323]
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/graphql/mutations.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added initial YUP validation
  package.json
  src/components/SignInModal/SignInModal.tsx
  src/components/TextInput/TextInput.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed SignInModal Snapshot
  src/components/SignInModal/SignInModal.test.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added validation on Password field
  src/components/PasswordInput/PasswordInput.tsx
  src/components/SignInModal/SignInModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added Error Border to PasswordInput
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added Eye icon to PasswordInput
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/icons/Eye/Eye.module.scss
  src/components/icons/Eye/Eye.tsx
  src/components/icons/Eye/index.ts
  src/components/icons/index.ts
  src/components/index.ts
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Grouped Password and Icon
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added Password visibility toggle
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/icons/Eye/Eye.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Centered Password visibility toggle
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added waiting for successful sign-out [#173468323]
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added signUp modal placeholder [#173468299]
  src/components/Layout/Layout.tsx
  src/components/SignUpModal/SignUpModal.module.scss
  src/components/SignUpModal/SignUpModal.stories.tsx
  src/components/SignUpModal/SignUpModal.test.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/SignUpModal/index.ts
  src/graphql/mutations.ts
  src/state/actions/auth.action.ts
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added input fields to signUp form [#173468299]
  src/components/SignUpModal/SignUpModal.module.scss
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added matching passwords [#173468299]
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added invisible reCaptcha [#173468299]
  package.json
  src/common/config/index.ts
  src/components/Layout/Layout.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/SignUpModal/index.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Centered signUp illustration [#173468299]
  src/components/Layout/Layout.tsx
  src/components/SignUpModal/SignUpModal.module.scss
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added EyeInvisible icon
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/icons/Eye/Eye.module.scss
  src/components/icons/EyeInvisible/EyeInvisible.module.scss
  src/components/icons/EyeInvisible/EyeInvisible.tsx
  src/components/icons/EyeInvisible/index.ts
  src/components/icons/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed Input heights
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/TextInput/TextInput.module.scss
Due: prettier --write, stylelint

Added VSC Template for BasicComponent
  .eslintignore
  .prettierignore
  .vsc-templates/BasicComponent.vsc-template.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added spinner button [#173468294]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Button/Button.module.scss
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/components/SpinnerButton/SpinnerButton.module.scss
  src/components/SpinnerButton/SpinnerButton.stories.tsx
  src/components/SpinnerButton/SpinnerButton.test.tsx
  src/components/SpinnerButton/SpinnerButton.tsx
  src/components/SpinnerButton/__snapshots__/SpinnerButton.test.tsx.snap
  src/components/SpinnerButton/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added initial ValidationSummary component
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/ValidationSummary/ValidationSummary.module.scss
  src/components/ValidationSummary/ValidationSummary.stories.tsx
  src/components/ValidationSummary/ValidationSummary.test.tsx
  src/components/ValidationSummary/ValidationSummary.tsx
  src/components/ValidationSummary/__snapshots__/ValidationSummary.test.tsx.snap
  src/components/ValidationSummary/index.ts
  src/components/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Updated snapshot [#173468299]
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: none

Added translation for loading label [#173468294]
  src/components/SpinnerButton/SpinnerButton.tsx
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Removed reCAPTCHA v2 package [#173468299]
  package.json
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added reCAPTCHA v3 to signUp form [#173468299]
  package.json
  src/common/config/index.ts
  src/components/App/App.tsx
  src/components/SignUpModal/SignUpModal.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added latest bets row index to key [#173512161]
  src/components/LatestBetsTable/LatestBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Renamed sign-up button text [#173468299]
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added uppercase component and link to signIn modal [#173468299]
  src/components/Link/Link.tsx
  src/components/Modal/lib/util.ts
  src/components/SignUpModal/SignUpModal.module.scss
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/Uppercase/Uppercase.module.scss
  src/components/Uppercase/Uppercase.stories.tsx
  src/components/Uppercase/Uppercase.test.tsx
  src/components/Uppercase/Uppercase.tsx
  src/components/Uppercase/__snapshots__/Uppercase.test.tsx.snap
  src/components/Uppercase/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Renamed ValidationSummary to ErrorSummary
  src/components/ErrorSummary/ErrorSummary.module.scss
  src/components/ErrorSummary/ErrorSummary.stories.tsx
  src/components/ErrorSummary/ErrorSummary.test.tsx
  src/components/ErrorSummary/ErrorSummary.tsx
  src/components/ErrorSummary/__snapshots__/ErrorSummary.test.tsx.snap
  src/components/ErrorSummary/index.ts
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/ValidationSummary/ValidationSummary.stories.tsx
  src/components/ValidationSummary/index.ts
  src/components/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Initial CheckboxInput component
  src/components/CheckboxInput/CheckboxInput.module.scss
  src/components/CheckboxInput/CheckboxInput.stories.tsx
  src/components/CheckboxInput/CheckboxInput.test.tsx
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CheckboxInput/__snapshots__/CheckboxInput.test.tsx.snap
  src/components/CheckboxInput/index.ts
  src/components/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added RememberMe Checkbox to SignIn Form
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added setting custom loading text for spinner button [#173468299]
  src/components/SpinnerButton/SpinnerButton.stories.tsx
  src/components/SpinnerButton/SpinnerButton.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added spinner button to sign-up form [#173468299]
  src/components/SignUpModal/SignUpModal.stories.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added terms of use checkbox to sign-up [#173468299]
  src/components/CheckboxInput/CheckboxInput.module.scss
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CheckboxInput/__snapshots__/CheckboxInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/SignUpModal.module.scss
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added some spacing decorators to Stories
  src/components/CheckboxInput/CheckboxInput.stories.tsx
  src/components/ErrorSummary/ErrorSummary.stories.tsx
  src/components/PasswordInput/PasswordInput.stories.tsx
  src/components/TextInput/TextInput.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added opening sign-in modal from sign-in button again [#173468299]
  src/components/Layout/Layout.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added centering checkbox label [#173468299]
  src/components/CheckboxInput/CheckboxInput.module.scss
Due: prettier --write, stylelint

Added validation message for checkbox [#173468299]
  src/components/CheckboxInput/CheckboxInput.module.scss
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CheckboxInput/__snapshots__/CheckboxInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/SignUpModal.stories.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
