Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint

Removed master deployment from travis config
  .travis.yml
Due: none

Improved mobile styling [#171834987]
  src/components/Carousel/Carousel.module.scss
  src/components/Layout/Layout.module.scss
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/__snapshots__/LeaderboardTable.test.tsx.snap
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
  src/styles/_variables.scss
  src/styles/bootstrap/base.scss
Due: prettier --write, tslint --fix, stylelint

Added adapting leadersboard height to available display height [#171834987]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.module.scss
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/__snapshots__/LeaderboardTable.test.tsx.snap
  src/hooks/useScrollLock.hook.ts
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Removed utilities from bootstrap imports [#171834987]
  src/styles/bootstrap/base.scss
Due: prettier --write, stylelint

Fixed hiding bonus column on mobile [#171834987]
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added touchLock option to scrollLock hook [#171834987]
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/hooks/useScrollLock.hook.ts
Due: prettier --write, tslint --fix

Styling improvements [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.tsx
Due: prettier --write, tslint --fix, stylelint

Added animating new data in leaderboards [#171834987]
  src/common/util/index.ts
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.stories.tsx
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/models/leader.model.ts
Due: prettier --write, tslint --fix, stylelint

Removed centering columns [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
Due: prettier --write, stylelint

Added highlighting row with signedIn user [#171834987]
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/LeaderboardTable/LeaderboardTable.stories.tsx
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Improved table styling [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/SpacerRow/SpacerRow.module.scss
  src/components/LeaderboardTable/components/SpacerRow/SpacerRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added sending all graphQL operations via websocket [#171834987]
  src/graphql/client.ts
Due: prettier --write, tslint --fix

Fixed animated rows overlay table header on scroll [#171834987]
  .vscode/arduino.json
  .vscode/c_cpp_properties.json
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/components/SpacerRow/SpacerRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added storybook stories for leaderboard table [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.stories.tsx
  src/components/LeaderboardTable/LeaderboardTable.tsx
Due: prettier --write, tslint --fix, stylelint

Added loading spinner [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/Loading/Loading.module.scss
  src/components/LeaderboardTable/components/Loading/Loading.tsx
  src/components/LeaderboardTable/components/Loading/index.ts
  src/components/Spinner/Spinner.module.scss
  src/components/Spinner/Spinner.stories.tsx
  src/components/Spinner/Spinner.test.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/index.ts
Due: prettier --write, tslint --fix, stylelint

Added empty and error state [#171834987]
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/__snapshots__/LeaderboardTable.test.tsx.snap
  src/components/LeaderboardTable/components/Empty/Empty.module.scss
  src/components/LeaderboardTable/components/Empty/Empty.tsx
  src/components/LeaderboardTable/components/Empty/index.ts
  src/components/LeaderboardTable/components/Error/Error.module.scss
  src/components/LeaderboardTable/components/Error/Error.tsx
  src/components/LeaderboardTable/components/Error/index.ts
  src/components/Spinner/__snapshots__/Spinner.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Added translations [#171834987]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/__snapshots__/LeaderboardTable.test.tsx.snap
  src/i18n/locales/sidebar/de.json
  src/i18n/locales/sidebar/en.json
Due: prettier --write, tslint --fix, stylelint

Added dev stage [#171834987]
  .travis.yml
  serverless.yml
Due: none

Added leaderboards query [#171834987]
  src/components/BetTable/BetTable.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
Due: prettier --write, tslint --fix

Fixed warning [#171834987]
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
Due: prettier --write, tslint --fix

Added general modal component [#172161511]
  src/components/Modal/Modal.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
  src/components/icons/Close/Close.test.tsx
  src/components/icons/Close/Close.tsx
  src/components/icons/Close/__snapshots__/Close.test.tsx.snap
  src/components/icons/Close/index.ts
Due: prettier --write, tslint --fix, stylelint

Added global state pattern to show and hide modals [#172161511]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/UserInfoModal/index.ts
  src/state/actions/index.ts
  src/state/actions/modal.action.ts
  src/state/index.tsx
  src/state/models/index.ts
  src/state/models/modal.model.ts
  src/state/reducers/index.ts
  src/state/reducers/modal.reducer.ts
Due: prettier --write, tslint --fix

Added Lambda Edge for Redirect to index.html
  serverless.yml
Due: none

Improved modal animations [#172161511]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Fixed modal close button padding [#172161511]
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Fixed unnecessary scrollbar on all browser besides chrome [#171834987]
  package.json
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  yarn.lock
Due: prettier --write, stylelint

Fixed unwanted phone number styling on edge [#171834987]
  public/index.html
Due: none

Fixed table header appearance on edge browser [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
Due: prettier --write, stylelint

Fixed loading, empty and error state not centered [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/components/Empty/Empty.module.scss
  src/components/LeaderboardTable/components/Error/Error.module.scss
  src/components/LeaderboardTable/components/Loading/Loading.module.scss
Due: prettier --write, stylelint

Fixed resizing table columns [#171834987]
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Fixed warnings
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/components/BetRow/BetRow.tsx
Due: prettier --write, tslint --fix

Updated travis config
  .travis.yml
Due: none

Fixed cloudfront definition
  serverless.yml
Due: none

Fixed cloudfront certificate definition
  serverless.yml
Due: none

Commented prod config in travis
  .travis.yml
Due: none

Added displaying user infos and added fetching user info from api [#172161511]
  src/components/Layout/Layout.tsx
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/graphql/queries.ts
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added displaying user infos and added fetching user info from api [#172161511]
  src/components/Layout/Layout.test.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/graphql/client.ts
Due: prettier --write, tslint --fix

Fixed apollo warnings [#172161511]
  src/graphql/client.ts
  src/graphql/fragmentTypes.json
  src/graphql/queries.ts
Due: prettier --write, tslint --fix

Fixed apollo mock for user info [#172161511]
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/graphql/queries.ts
  src/state/reducers/modal.reducer.ts
Due: prettier --write, tslint --fix

Added username styling [#172161511]
  .storybook/scss-loader.scss
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/UserInfoModal/components/Username/Username.module.scss
  src/components/UserInfoModal/components/Username/Username.test.tsx
  src/components/UserInfoModal/components/Username/Username.tsx
  src/components/UserInfoModal/components/Username/__snapshots__/Username.test.tsx.snap
  src/components/UserInfoModal/components/Username/index.ts
Due: prettier --write, tslint --fix, stylelint

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  tslint --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
