Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

test notfound
  src/components/App/App.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

ne
  src/components/App/App.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor changes for leaderboard & claim blocks
  src/graphql/subscriptions.ts
  src/hooks/useRealtimeBonusNotification.hook.ts
  src/i18n/locales/transactions/en.json
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.module.scss
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

deposit addres fixed
  src/components/CashierModal/CashierModal.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

5th part of ms 10 fixed
  .env
  .env.dev
  .env.staging
  src/common/config/index.ts
  src/common/util/format.util.ts
  src/components/App/App.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/FaucetModal/FaucetModal.tsx
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/Layout/Layout.tsx
  src/components/LayoutPage/LayoutPage.tsx
  src/components/LayoutPage/index.ts
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/i18n/locales/error/en.json
  src/i18n/locales/games/de.json
  src/i18n/locales/games/en.json
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/HomePage/components/Teaser/Teaser.module.scss
  src/pages/ProfilePage/components/Security/Security.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

goalboard fixed
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing bug of mine game and leaderboard block
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.module.scss
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

game toast & crazy button fixed
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/HomePage/components/Teaser/Teaser.module.scss
  src/pages/HomePage/components/Teaser/Teaser.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

dice coin sound added
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

toast in mine & goals game is removed
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing "When claiming fast, something is going wrong" && something wrong with loading mp3
  src/components/App/App.tsx
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor change for sound preloading
  src/components/App/App.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing some conflicts
  src/components/App/App.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor changes
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

503 error toast and goal, dice game error fixed
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/graphql/client.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Implementing the chatbot feature
  src/customerSupport/CustomerSupport.js
  src/styles/chatWidget.css
Due: none

Pushing with Minor changes, again
  package-lock.json
  src/components/AffiliatesTable/AffiliatesTable.tsx
  src/components/App/App.tsx
  src/components/DetailList/DetailList.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/LayoutPage/LayoutPage.tsx
  src/components/Toast/Toast.tsx
  src/components/icons/BonusPosition/BonusPosition.tsx
  src/customerSupport/CustomerSupport.js
  src/index.scss
  src/pages/Page404/Page404.tsx
  src/pages/Page500/Page500.tsx
  src/state/actions/sidebar.action.ts
  src/state/index.tsx
  src/state/models/sidebar.model.ts
  src/state/reducers/sidebar.reducer.ts
  src/styles/chatWidget.css
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Update README.md
  README.md
Due: prettier --write

renamed envs
  env
  env.dev
  env.staging
Due: none
