Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint

Added game icons [#172161511]
  src/components/BitcoinValue/BitcoinValue.module.scss
  src/components/BitcoinValue/BitcoinValue.stories.tsx
  src/components/BitcoinValue/BitcoinValue.test.tsx
  src/components/BitcoinValue/BitcoinValue.tsx
  src/components/BitcoinValue/__snapshots__/BitcoinValue.test.tsx.snap
  src/components/BitcoinValue/index.ts
  src/components/GameIcon/GameIcon.stories.tsx
  src/components/GameIcon/GameIcon.test.tsx
  src/components/GameIcon/GameIcon.tsx
  src/components/GameIcon/__snapshots__/GameIcon.test.tsx.snap
  src/components/GameIcon/index.ts
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/icons/games/Mines/Mines.tsx
  src/models/gameTypes.model.ts
Due: prettier --write, tslint --fix, stylelint

Added back button [#172161511]
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Button/index.ts
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Reduced modal height [#172161511]
  src/components/GameIcon/GameIcon.stories.tsx
  src/components/Modal/Modal.module.scss
Due: prettier --write, tslint --fix, stylelint

Added loading and error state [#172161511]
  src/components/Error/Error.module.scss
  src/components/Error/Error.tsx
  src/components/Error/index.ts
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/Empty/Empty.tsx
  src/components/LeaderboardTable/components/Empty/index.ts
  src/components/LeaderboardTable/components/Error/Error.module.scss
  src/components/LeaderboardTable/components/Error/Error.tsx
  src/components/Loading/Loading.module.scss
  src/components/Loading/Loading.tsx
  src/components/Loading/index.ts
  src/components/Modal/Modal.module.scss
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added user info stylings for desktop [#172161511]
  src/components/Modal/Modal.module.scss
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, tslint --fix, stylelint

Fixed some unit test warnings [#172161511]
  src/components/Layout/Layout.test.tsx
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, tslint --fix

Adapted Error, Empty and Loading Screens
  src/components/BetTable/BetTable.tsx
  src/components/LeaderboardTable/index.ts
Due: prettier --write, tslint --fix

Added hover styles for username in table [#172161511]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added click event for username and row [#172161511]
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/LeaderboardTable/LeaderboardTable.stories.tsx
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Fixed removed styles [#172161511]
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added script to package.json to build the app and storybook [#172161511]
  package.json
Due: prettier --write

Reworked icons
  src/components/BetTable/components/BetRow/BetRow.scss
  src/components/icons/games/Clams/Clams.tsx
  src/components/icons/games/Dice/Dice.tsx
  src/components/icons/games/Goals/Goals.tsx
  src/components/icons/games/Mines/Mines.tsx
Due: prettier --write, tslint --fix, stylelint

Fixed warnings and snapshots
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/BetTable/BetTable.test.tsx
  src/components/BetTable/BetTable.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
Due: prettier --write, tslint --fix

Removed fonts assets for storybook and added missing styles
  .storybook/public/fonts/Roboto-Black.ttf
  .storybook/public/fonts/Roboto-Bold.ttf
  .storybook/public/fonts/Roboto-Light.ttf
  .storybook/public/fonts/Roboto-Regular.ttf
  .storybook/scss-loader.scss
Due: prettier --write, stylelint

Configured storybook to build directly into build/storybook
  .travis.yml
  package.json
Due: prettier --write

Removed build warnings
  src/components/BetTable/BetTable.stories.tsx
Due: prettier --write, tslint --fix

Upgraded Packages
  package.json
  yarn.lock
Due: prettier --write

Upgraded @testing-library/react to 9.5.0
  package.json
  yarn.lock
Due: prettier --write

Added colors to indicate positive and negative profit [#172161511]
  src/common/util/date.util.test.ts
  src/common/util/date.util.ts
  src/common/util/format.util.test.ts
  src/common/util/format.util.ts
  src/common/util/sign.util.test.ts
  src/common/util/sign.util.ts
  src/components/BetTable/components/BetRow/BetRow.tsx
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/UserInfoModal/components/Username/Username.tsx
  src/components/UserInfoModal/components/Username/__snapshots__/Username.test.tsx.snap
  src/styles/_typography.scss
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added formatting bitcoin in leaderboards table [#172161511]
  src/components/Button/Button.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added config to set options for the app [#172161511]
  src/common/config/index.ts
  src/common/util/format.util.ts
Due: prettier --write, tslint --fix

Fixed modal background overlay on desktop [#172161511]
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint

Fixed unit test warnings
  src/components/Layout/Layout.test.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
Due: prettier --write, tslint --fix

Added configurations for CloudFront requests
  serverless.yml
Due: none

Removed unnecessary wait() in unit test
  src/components/UserInfoModal/UserInfoModal.test.tsx
Due: prettier --write, tslint --fix

Added closing modal on outside click [#172161511]
  src/components/Modal/Modal.tsx
Due: prettier --write, tslint --fix

Fixed prettier default value change for arrow parens
  .prettierrc
  src/components/Layout/Layout.tsx
Due: prettier --write, tslint --fix

Added listenning to mouse up on outside click [#172161511]
  src/hooks/useClickOutside.hook.ts
Due: prettier --write, tslint --fix

Added centering back button [#172161511]
  src/components/Modal/Modal.module.scss
  src/components/UserInfoModal/UserInfoModal.module.scss
Due: prettier --write, stylelint

Updated ARN for TEST Lambda & Certificate
  serverless.yml
Due: none

Added DEV and TEST Certificate scripts
  scripts/aws/README.md
  scripts/aws/cloudformation/dev-wildcard-certificate.yml
  scripts/aws/cloudformation/test-wildcard-certificate.yml
Due: prettier --write

Added closing modal on esc key [#172161511]
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, tslint --fix

Updated certificate configuration
  scripts/aws/cloudformation/test-wildcard-certificate.yml
Due: none

Configured new certificate for TEST environment
  serverless.yml
Due: none

Updated AWS credentials for cazzzino-test account
  .travis.yml
Due: none

Fixed hiding scrollbar moves content [#172161511]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Modal/Modal.tsx
  src/hooks/useScrollLock.hook.ts
  src/hooks/useScrollbarWidth.hook.ts
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Fixed not reenabling touchmove event [#172161511]
  src/components/Modal/Modal.tsx
  src/hooks/useScrollLock.hook.ts
Due: prettier --write, tslint --fix

Removed back button when onBack callback is not defined [#172161511]
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Removed unnecessary position:fixed [#171969954]
  src/components/Layout/components/Sidebar/SideBar.module.scss
Due: prettier --write, stylelint

Added hiding content on mobile when sidebar or modal are shown [#171969954]
  package.json
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  tslint --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
