Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"],
  "*.scss": ["stylelint"]
}

faq
  src/pages/CustomPage/pages/faq/en.md
Due: prettier --write

aaa
  src/pages/CustomPage/pages/faq/en.md
Due: prettier --write

x
  README.md
Due: prettier --write

a
  src/pages/CustomPage/pages/faq/en.md
Due: prettier --write

[Balance] Split balance to deposit/withdraw (#167)
  .env
  .eslintrc.js
  .graphqlconfig
  .idea/cc-front.iml
  package.json
  src/graphql/subscriptions.ts
  src/hooks/useRealtimeBalance.hook.ts
  src/hooks/useRealtimeBonusNotification.hook.ts
  src/i18n/locales/transactions/en.json
  src/models/transactionStatus.model.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/schema.graphql
  yarn.lock
Due: prettier --write, eslint --fix

[Footer] Fix balance position (#168)
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
Due: prettier --write, stylelint

[Footer] Remove unused links (#169)
  src/components/Footer/Footer.tsx
  src/i18n/locales/footer/de.json
  src/i18n/locales/footer/en.json
Due: prettier --write, eslint --fix

Update Balance.module.scss
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
Due: prettier --write, stylelint

Update subscriptions.ts
  src/graphql/subscriptions.ts
Due: prettier --write, eslint --fix

[NS] Limit max attempts count
  src/graphql/newClient.ts
Due: prettier --write, eslint --fix

[Modal] Fix Deposit details: amount
  src/components/DepositsDetailsModal/DepositsDetailsModal.module.scss
  src/components/DepositsDetailsModal/DepositsDetailsModal.tsx
  src/i18n/locales/modals/en.json
Due: prettier --write, eslint --fix, stylelint

[Transactions] Update design for mobiles
  src/pages/TransactionsPage/TransactionsPage.module.scss
  src/pages/TransactionsPage/TransactionsPage.tsx
Due: prettier --write, eslint --fix, stylelint

[RP] Reset Password error (#171)
  .idea/codeStyles/Project.xml
  src/common/util/error.util.ts
  src/components/BetControl/BetControl.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/FaucetModal/FaucetModal.tsx
  src/components/Footer/Footer.tsx
  src/components/Layout/Layout.tsx
  src/i18n/locales/common/en.json
  src/pages/AffiliatesPage/components/marketing/Marketing.tsx
  src/pages/Page404/Page404.tsx
  src/pages/Page500/Page500.tsx
  src/pages/SeedPage/SeedPage.tsx
  src/user/UserLayer.tsx
Due: prettier --write, eslint --fix

[] Fix several stories; Remove linter errors
  .github/workflows/main.kkk
  Dockerfile
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/LayoutPage/LayoutPage.tsx
  src/components/MineGameBoard/MineGameBoard.tsx
  src/components/Slider/Slider.tsx
  src/customerSupport/CustomerSupport.js
  src/graphql/newClient.ts
  src/hooks/usePendingBet.hook.ts
  src/hooks/useRealtimeBonusNotification.hook.ts
  src/pages/AffiliatesPage/AffiliatesPage.module.scss
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/commissions/Commissions.tsx
  src/pages/AffiliatesPage/components/marketing/Marketing.tsx
  src/pages/AffiliatesPage/components/stats/Stats.tsx
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GameModal/useOpenGameModal.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint --fix, stylelint

[17] Active games as a links
  src/components/ChangeServerSeed/components/ActiveGame/ActiveGame.module.scss
  src/components/ChangeServerSeed/components/ActiveGame/ActiveGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint --fix, stylelint

fix goalGame filter
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint --fix

[5] No active games on seeds page
  src/components/CashierModal/CashierModal.tsx
  src/components/ChangeServerSeed/ChangeServerSeed.module.scss
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
  src/i18n/locales/seeds/en.json
  src/pages/SeedPage/SeedPage.tsx
Due: prettier --write, eslint --fix, stylelint

[2] Withdraw returns balance
  src/components/CashierModal/CashierModal.tsx
  src/graphql/mutations.ts
Due: prettier --write, eslint --fix

[setupCashier] call when user?.id changes
  src/components/CashierModal/CashierModal.tsx
Due: prettier --write, eslint --fix

[Seeds] Empty box redesign
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
  src/components/CopyField/CopyField.module.scss
  src/components/CopyField/CopyField.tsx
Due: prettier --write, eslint --fix, stylelint

[Bets] Color based on lucky prop
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/graphql/queries.ts
  src/graphql/subscriptions.ts
  src/hooks/betBuffer.test.ts
  src/hooks/useBetBuffer.hook.test.ts
  src/hooks/useBetGenerator.hook.ts
  src/models/bet.model.ts
Due: prettier --write, eslint --fix

[NS] New GameSection component (#172)
  package.json
  src/components/SpinnerButton/SpinnerButton.tsx
  src/components/TransactionsTable/TransactionsTable.tsx
  src/design-system/constants/breakpoints.ts
  src/design-system/types.ts
  src/design-system/utils/mapSizeToPx.ts
  src/design-system/utils/mediaMaxWidth.ts
  src/hooks/useOptionalSound.hook.ts
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.module.scss
  src/pages/GamesPage/components/DiceGameV2/DiceGame.actions.ts
  src/pages/GamesPage/components/DiceGameV2/DiceGame.module.tsx
  src/pages/GamesPage/components/DiceGameV2/DiceGame.provider.tsx
  src/pages/GamesPage/components/DiceGameV2/DiceGame.reducer.ts
  src/pages/GamesPage/components/DiceGameV2/DiceGame.styles.ts
  src/pages/GamesPage/components/DiceGameV2/DiceGame.types.ts
  src/pages/GamesPage/components/DiceGameV2/components/Character.tsx
  src/pages/GamesPage/components/DiceGameV2/components/Controls.tsx
  src/pages/GamesPage/components/DiceGameV2/components/ControlsAdditional.tsx
  src/pages/GamesPage/components/DiceGameV2/components/Game.tsx
  src/pages/GamesPage/components/DiceGameV2/components/index.ts
  src/pages/GamesPage/components/DiceGameV2/index.ts
  src/pages/GamesPage/components/GameSection/GameSection.component.tsx
  src/pages/GamesPage/components/GameSection/GameSection.styles.ts
  src/pages/GamesPage/components/GameSection/components/ProfitBlock.component.tsx
  src/pages/GamesPage/components/GameSection/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

Goal Game (WIP)
  demo.svg
  package-lock.json
  src/components/icons/games/GoalBall/GoalBallIdle.tsx
  src/components/icons/games/GoalBall/GoalBallLost.tsx
  src/components/icons/games/GoalBall/GoalBallWon.tsx
  src/i18n/locales/games/en.json
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/DiceGameV2/DiceGame.actions.ts
  src/pages/GamesPage/components/DiceGameV2/DiceGame.module.tsx
  src/pages/GamesPage/components/DiceGameV2/DiceGame.reducer.ts
  src/pages/GamesPage/components/DiceGameV2/DiceGame.types.ts
  src/pages/GamesPage/components/GameSection/GameSection.component.tsx
  src/pages/GamesPage/components/GameSection/GameSection.styles.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.actions.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.module.tsx
  src/pages/GamesPage/components/GoalGameV2/GoalGame.provider.tsx
  src/pages/GamesPage/components/GoalGameV2/GoalGame.reducer.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.styles.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.types.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.utils.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Advances.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Ball.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Controls.tsx
  src/pages/GamesPage/components/GoalGameV2/components/ControlsAdditional.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Game.tsx
  src/pages/GamesPage/components/GoalGameV2/components/GoalKeeper/GoalKeeper.tsx
  src/pages/GamesPage/components/GoalGameV2/components/GoalKeeper/GoalKeeperWonMiddle.tsx
  src/pages/GamesPage/components/GoalGameV2/components/GoalSelection.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Probability.tsx
  src/pages/GamesPage/components/GoalGameV2/index.ts
Due: prettier --write, eslint --fix

New football layout (#174)
  src/components/icons/games/GoalBall/GoalBallWon.tsx
  src/pages/GamesPage/components/GoalGameV2/GoalGame.module.tsx
  src/pages/GamesPage/components/GoalGameV2/GoalGame.reducer.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.styles.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.types.ts
  src/pages/GamesPage/components/GoalGameV2/GoalGame.utils.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Controls.tsx
  src/pages/GamesPage/components/GoalGameV2/components/Game.tsx
  src/pages/GamesPage/components/GoalGameV2/components/GoalBackground.tsx
Due: prettier --write, eslint --fix

test
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

update Grapql and fix some issues
  src/graphql/newClient.ts
Due: prettier --write, eslint --fix
