Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

all
  .github/workflows/main.yml
Due: none

scr
  .github/workflows/main.yml
  scripts/cleanup.sh
Due: none

dpl
  .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml.bak
  appspec.yml
  scripts/cleanup.sh
  scripts/reload_pm2.sh
  scripts/stop_pm2.sh
Due: none

apparm
  appspec.yml
Due: none

Added sign-in button [#173468294]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Button/Button.module.scss
  src/components/Button/Button.stories.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/styles/_helpers.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added sign-in button on mobile [#173468294]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/components/icons/SignIn/SignIn.module.scss
  src/components/icons/SignIn/SignIn.tsx
  src/components/icons/SignIn/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added onClick action to sign-in button [#173468294]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added placeholder component for sign-in modal [#173468294]
  src/components/Layout/Layout.tsx
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignInModal/SignInModal.test.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignInModal/index.ts
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added illustration to sign-in modal [#173468294]
  src/assets/images/auth/password-recovery.svg
  src/assets/images/auth/safe-locker.svg
  src/assets/images/auth/sign-in.svg
  src/assets/images/auth/sign-up.svg
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed button movement due to transition [#173468294]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Updated Styling on InputField
  src/components/InputField/InputField.scss
  src/components/InputField/InputField.stories.tsx
  src/components/InputField/InputField.test.tsx
  src/components/InputField/InputField.tsx
  src/components/InputField/__snapshots__/InputField.test.tsx.snap
  src/components/InputField/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added Storybook Background Colors
  .storybook/main.js
  .storybook/preview.js
  .storybook/scss-loader.scss
  package.json
  src/components/InputField/InputField.stories.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Renamed InputField to TextInput
  src/components/InputField/index.ts
  src/components/TextInput/TextInput.scss
  src/components/TextInput/TextInput.stories.tsx
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/TextInput/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed updating on changing initialValue
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added initial PasswordInput
  src/components/PasswordInput/PasswordInput.scss
  src/components/PasswordInput/PasswordInput.stories.tsx
  src/components/PasswordInput/PasswordInput.test.tsx
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/PasswordInput/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added onChangeValue event for TextInput and PasswordInput
  src/components/PasswordInput/PasswordInput.stories.tsx
  src/components/PasswordInput/PasswordInput.tsx
  src/components/TextInput/TextInput.stories.tsx
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added transmitting mutations via http request [#173468294]
  package.json
  src/graphql/client.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added Name attribute to Text- and PasswortInput
  src/components/PasswordInput/PasswordInput.test.tsx
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added separate Story to show multiple Form elements
  src/components/PasswordInput/PasswordInput.stories.tsx
  src/components/TextInput/TextInput.scss
  src/components/TextInput/TextInput.stories.tsx
  src/stories/Forms.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added basic sign-in [#173468294]
  package.json
  src/components/Layout/Layout.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/graphql/mutations.ts
  src/models/user.model.ts
  src/state/actions/auth.action.ts
  src/state/actions/index.ts
  src/state/index.tsx
  src/state/models/auth.model.ts
  src/state/models/index.ts
  src/state/reducers/auth.reducer.ts
  src/state/reducers/index.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added checking access token for expire date [#173468294]
  package.json
  src/common/util/date.util.ts
  src/graphql/client.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added checking auth state on page load [#173468294]
  src/components/App/App.tsx
  src/graphql/client.ts
  src/graphql/queries.ts
  src/index.tsx
  src/state/actions/auth.action.ts
  src/state/index.tsx
  src/state/models/auth.model.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Enabled credetials for http link [#173468294]
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored localstorage access [#173468294]
  src/common/util/storage.util.ts
  src/components/SignInModal/SignInModal.tsx
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored auth overlay [#173468294]
  src/components/App/App.tsx
  src/components/AuthOverlay/AuthOverlay.test.tsx
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/AuthOverlay/__snapshots__/AuthOverlay.test.tsx.snap
  src/components/AuthOverlay/index.ts
  src/components/Layout/Layout.tsx
  src/index.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added attaching accessToken to http requests [#173468294]
  package.json
  src/components/App/App.tsx
  src/graphql/client.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added accessing global state from apollo client [#173468294]
  src/common/util/storage.util.ts
  src/components/App/App.tsx
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.tsx
  src/components/Layout/components/SidebarToggle/SidebarToggle.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Modal/lib/util.ts
  src/components/SignInModal/SignInModal.tsx
  src/graphql/client.ts
  src/graphql/mutations.ts
  src/state/actions/auth.action.ts
  src/state/actions/modal.action.ts
  src/state/actions/sidebar.action.ts
  src/state/index.tsx
  src/state/reducers/auth.reducer.ts
  src/state/reducers/modal.reducer.ts
  src/state/reducers/sidebar.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added styling for overlay component [#173468294]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/AuthOverlay/AuthOverlay.module.scss
  src/components/AuthOverlay/AuthOverlay.stories.tsx
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/AuthOverlay/__snapshots__/AuthOverlay.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Refactored getting apollo client [#173468294]
  src/components/App/App.tsx
  src/components/AuthOverlay/AuthOverlay.test.tsx
  src/hooks/useApolloClient.hook.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Readded sending queries via websocket [#173468294]
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added validationMessage to TextInput
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.stories.tsx
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added refreshing access token when expired [#173468294]
  src/common/util/storage.util.ts
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added variables to Input stylings
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/TextInput/TextInput.module.scss
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Removed Autofill-Background for Chrome and Firefox
  src/components/TextInput/TextInput.module.scss
Due: prettier --write, stylelint

Ailgned PasswordInput to TextInput
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Refactored scroll lock
  src/components/Layout/Layout.tsx
  src/hooks/useScrollLock.hook.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added staying on modal when sign-in was not successful [#73468294]
  src/components/SignInModal/SignInModal.tsx
  src/models/genericError.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added error border to TextInput
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint
