Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint

Updated ARN's for cazzzino-cloudfront-extensions
  serverless.yml
Due: none

Upgraded packages
  package.json
  yarn.lock
Due: prettier --write

Fixed sidebar behaviour when resizing window [#172353725]
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Added random Bet generator
  src/components/BetTable/BetTable.stories.tsx
Due: prettier --write, tslint --fix

Activated transitions again
  src/components/BetTable/BetTable.tsx
Due: prettier --write, tslint --fix

Added Storybook Knobs to BetTable Story
  .storybook/cazzzinoTheme.js
  .storybook/main.js
  package.json
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
  yarn.lock
Due: prettier --write, tslint --fix

Random Bets are generated in proper interval
  src/components/BetTable/BetTable.stories.tsx
Due: prettier --write, tslint --fix

Checking for current user places a bet
  src/components/BetTable/BetTable.scss
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
Due: prettier --write, tslint --fix, stylelint

Added initial betBuffer library
  src/components/BetTable/lib/betBuffer.test.ts
  src/components/BetTable/lib/betBuffer.ts
Due: prettier --write, tslint --fix

Counting bets of current user with reduce
  src/components/BetTable/lib/betBuffer.ts
Due: prettier --write, tslint --fix

Added initial files for useBetBuffer hook
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
Due: prettier --write, tslint --fix

Started with useBetGenerator Hook
  src/components/BetTable/lib/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix

Refactored Bets generation logic into hook
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/lib/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix

Swapped static bets on initialization for generated ones
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/lib/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix

Added @testing-library/react-hooks to test hooks
  package.json
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
  yarn.lock
Due: prettier --write, tslint --fix

Added tests for adding to BetBuffer
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
Due: prettier --write, tslint --fix

Added parameter for currentUserId
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
Due: prettier --write, tslint --fix

Added initial timer tests for dispatching Bets
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
Due: prettier --write, tslint --fix

Configured jest path and removed unnecessary configs
  .vscode/arduino.json
  .vscode/c_cpp_properties.json
  .vscode/settings.json
Due: prettier --write

Refactored BetTable Story to default and custom
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
  src/components/BetTable/lib/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix

Connected BetGenerator and BetBuffer
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/lib/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix

Added initial BetGenerator tests
  src/components/BetTable/lib/useBetGenerator.hook.test.ts
Due: prettier --write, tslint --fix

Fixed stats counter of added bets for current user
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
Due: prettier --write, tslint --fix

Fixed some html attribute warnings
  src/components/icons/games/Mines/Mines.tsx
Due: prettier --write, tslint --fix

Added separate Animation Speed
  src/components/BetTable/BetTable.scss
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/lib/useBetBuffer.hook.ts
Due: prettier --write, tslint --fix, stylelint

Added useInterval Hook
  src/components/BetTable/lib/useBetBuffer.hook.ts
  src/components/BetTable/lib/useBetGenerator.hook.ts
  src/hooks/useInterval.ts
Due: prettier --write, tslint --fix

Fixed Auto Speed
  src/components/BetTable/lib/useBetBuffer.hook.test.ts
  src/components/BetTable/lib/useBetBuffer.hook.ts
Due: prettier --write, tslint --fix

Changed BetTable custom story to start with AUTO speed
  src/components/BetTable/BetTable.stories.tsx
Due: prettier --write, tslint --fix

Changed bet.id generation to uuids
  package.json
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/lib/useBetGenerator.hook.ts
  yarn.lock
Due: prettier --write, tslint --fix

Added Tab components for Latest Bets and My Bets
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.module.scss
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LatestBetsTab/index.ts
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.module.scss
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/MyBetsTab/index.ts
Due: prettier --write, tslint --fix, stylelint

Added useSubscription to compare with subscribeToMore
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
Due: prettier --write, tslint --fix

Move some files
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
Due: prettier --write, tslint --fix

Fixed Unit Test
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.test.tsx
Due: prettier --write, tslint --fix

Removed animation for initial data of Latest Bets
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/BetTable/BetTable.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
Due: prettier --write, tslint --fix

Streamlined Table Styling for Latest Bets
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/BetTable/BetTable.module.scss
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/components/BetRow/BetRow.module.scss
  src/components/BetTable/components/BetRow/BetRow.tsx
  src/components/BetTable/components/SpacerRow/SpacerRow.module.scss
  src/components/BetTable/components/SpacerRow/SpacerRow.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.module.scss
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Added reduceMotion flag
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
Due: prettier --write, tslint --fix

Fixed animation
  src/components/BetTable/BetTable.module.scss
Due: prettier --write, stylelint

Added deploy-dev to npm scripts
  package.json
Due: prettier --write

Optimized Bet Table View in Sidebar
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/components/BetRow/BetRow.module.scss
  src/components/BetTable/components/BetRow/BetRow.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  tslint --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
