Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added validation summery to sign up [#173468299]
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added navigating to sign-up from sign-in [#173468299]
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored validationSchema for sign-up [#173468299]
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added sign in user after successful sign-up [#173468299]
  src/components/SignUpModal/SignUpModal.tsx
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added forgot password link to sign-in [#173468299]
  src/components/CheckboxInput/CheckboxInput.module.scss
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added spinner button to sign-in [#173468299]
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Reduced Passwort validation constraints for sign-in
  src/components/SignInModal/SignInModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Password confirmation field is required now
  src/components/SignUpModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added a11y addon to Storybook
  .storybook/main.js
  package.json
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignUpModal/SignUpModal.stories.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added validating on mount to sign-up form [#173468299]
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added reCAPTCHA token to registerUser mutation on SignUp
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added validateOnMount to SignIn
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added avatar to topbar [#173584629]
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.test.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/components/Avatar/index.ts
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/Username/Username.module.scss
  src/components/Username/Username.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved avatar positioning in topbar [#173584629]
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.stories.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.module.scss
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/state/index.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added translation for SignIn
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/i18n/index.ts
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added sign-out action to TopBar story [#173584629]
  src/components/Layout/components/TopBar/TopBar.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added translations for SignUp
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/SignUpModal/lib/validationSchema.ts
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added react-toastify to show toast notifications [#173468318]
  package.json
  src/common/config/index.ts
  src/components/App/App.tsx
  src/components/App/__snapshots__/App.test.tsx.snap
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added some positioning for reCAPTCHA
  src/styles/_general.scss
Due: prettier --write, stylelint

Translated Sign-In Button in TopBar
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Improved position config [#173468318]
  src/common/config/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added VSC Template for BasicComponent
  .eslintignore
  .prettierignore
  .vsc-templates/BasicComponent.vsc-template.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed GenericError structure for SignIn
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added custom toastcontainer component [#173468318]
  src/components/App/App.tsx
  src/components/Toast/Toast.module.scss
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/Toast.test.tsx
  src/components/Toast/Toast.tsx
  src/components/Toast/__snapshots__/Toast.test.tsx.snap
  src/components/Toast/components/ToastContainer/ToastContainer.module.scss
  src/components/Toast/components/ToastContainer/ToastContainer.stories.tsx
  src/components/Toast/components/ToastContainer/ToastContainer.test.tsx
  src/components/Toast/components/ToastContainer/ToastContainer.tsx
  src/components/Toast/components/ToastContainer/__snapshots__/ToastContainer.test.tsx.snap
  src/components/Toast/components/ToastContainer/index.ts
  src/components/Toast/index.ts
  src/components/Toast/lib/toast.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added default styling to toast notifications [#173468318]
  .storybook/scss-loader.scss
  src/components/Toast/components/ToastContainer/ToastContainer.stories.tsx
  src/components/Toast/components/ToastContainer/ToastContainer.test.tsx
  src/components/Toast/lib/toast.tsx
  src/index.tsx
  src/styles/base.scss
  src/styles/react-toastify/_closeButton.scss
  src/styles/react-toastify/_progressBar.scss
  src/styles/react-toastify/_toast.scss
  src/styles/react-toastify/_toastContainer.scss
  src/styles/react-toastify/_variables.scss
  src/styles/react-toastify/animations/_bounce.scss
  src/styles/react-toastify/animations/_flip.scss
  src/styles/react-toastify/animations/_slide.scss
  src/styles/react-toastify/animations/_zoom.scss
  src/styles/react-toastify/main.scss
  src/styles/react-toastify/minimal.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added toast colors [#173468318]
  src/styles/_variables.scss
  src/styles/react-toastify/_toast.scss
  src/styles/react-toastify/_variables.scss
Due: prettier --write, stylelint

Added box shadow to toast notification [#173468318]
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/components/ToastContainer/ToastContainer.tsx
  src/styles/react-toastify/_toast.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added icon for info toast notification [#173468318]
  src/components/Toast/Toast.module.scss
  src/components/Toast/Toast.tsx
  src/components/icons/Info/Info.module.scss
  src/components/icons/Info/Info.tsx
  src/components/icons/Info/index.ts
  src/styles/react-toastify/_toast.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added custom close button to toast notifications [#173468318]
  src/components/Toast/__snapshots__/Toast.test.tsx.snap
  src/components/Toast/components/ToastContainer/ToastContainer.module.scss
  src/components/Toast/components/ToastContainer/ToastContainer.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed updating user state on sign-in [#173468299]
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/SpinnerButton/SpinnerButton.tsx
  src/state/actions/auth.action.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed console error caused by spinner button [#173468299]
  src/components/SpinnerButton/SpinnerButton.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Improved auth overlay component [#173468299]
  src/components/AuthOverlay/AuthOverlay.tsx
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added new icons to toast notifications [#173468318]
  src/components/Toast/Toast.tsx
  src/components/Toast/__snapshots__/Toast.test.tsx.snap
  src/components/icons/Check/Check.module.scss
  src/components/icons/Check/Check.tsx
  src/components/icons/Check/index.ts
  src/components/icons/Error/Error.module.scss
  src/components/icons/Error/Error.tsx
  src/components/icons/Error/index.ts
  src/components/icons/Info/Info.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added Hover and Focus highlighting to Buttons
  src/components/Button/Button.module.scss
  src/components/SecondaryButton/SecondaryButton.module.scss
Due: prettier --write, stylelint

Added keyboard interaction to CheckboxInput
  src/components/CheckboxInput/CheckboxInput.module.scss
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CheckboxInput/__snapshots__/CheckboxInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added network-only fetch policy when querying user [#173468299]
  src/components/AuthOverlay/AuthOverlay.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added RememberMe transmission to SignIn
  src/components/SignInModal/SignInModal.tsx
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed bottom margin on mobile [#173468318]
  src/styles/react-toastify/_toastContainer.scss
Due: prettier --write, stylelint

Fixed aria-checked warning on CheckboxInput
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/CheckboxInput/__snapshots__/CheckboxInput.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

FIXED: Missing validation message on Signup terms
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/PasswordInput/PasswordInput.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
