Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed bug #174621713: Change server seed on bet details shouldn't redirect to home page
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.stories.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.tsx
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/Layout/components/Modals/Modals.tsx
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/lib/reducer.ts
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Squashed commit of the following:
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Squashed commit of the following:
  package.json
  src/components/CashierModal/CashierModal.module.scss
  src/components/CashierModal/CashierModal.stories.tsx
  src/components/CashierModal/CashierModal.test.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/CashierModal/__snapshots__/CashierModal.test.tsx.snap
  src/components/CashierModal/index.ts
  src/components/CopyField/CopyField.module.scss
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/BottomBar.tsx
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
  src/components/Layout/components/BottomBar/components/Balance/Balance.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/SlideSelect/SlideSelect.tsx
  src/components/TextInput/TextInput.module.scss
  src/components/TextInput/TextInput.tsx
  src/graphql/client.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
  src/models/cashier.model.ts
  src/models/user.model.ts
  src/state/models/modal.model.ts
  src/styles/_variables.scss
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Finished feature #173885991: Transactions - Page
  src/components/App/App.tsx
  src/components/AuthRoute/AuthRoute.test.tsx
  src/components/AuthRoute/AuthRoute.tsx
  src/components/AuthRoute/__snapshots__/AuthRoute.test.tsx.snap
  src/components/AuthRoute/index.ts
  src/components/NavLink/NavLink.stories.tsx
  src/components/NavLink/NavLink.test.tsx
  src/components/NavLink/NavLink.tsx
  src/components/NavLink/__snapshots__/NavLink.test.tsx.snap
  src/components/NavLink/index.ts
  src/components/UserMenu/UserMenu.tsx
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
  src/pages/TransactionsPage/TransactionsPage.module.scss
  src/pages/TransactionsPage/TransactionsPage.stories.tsx
  src/pages/TransactionsPage/TransactionsPage.test.tsx
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/__snapshots__/TransactionsPage.test.tsx.snap
  src/pages/TransactionsPage/components/Deposits/Deposits.module.scss
  src/pages/TransactionsPage/components/Deposits/Deposits.stories.tsx
  src/pages/TransactionsPage/components/Deposits/Deposits.test.tsx
  src/pages/TransactionsPage/components/Deposits/Deposits.tsx
  src/pages/TransactionsPage/components/Deposits/__snapshots__/Deposits.test.tsx.snap
  src/pages/TransactionsPage/components/Deposits/index.ts
  src/pages/TransactionsPage/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Finished feature #173892341: Transactions - Table
  package.json
  src/components/TransactionsTable/TransactionsTable.stories.tsx
  src/components/TransactionsTable/TransactionsTable.styles.ts
  src/components/TransactionsTable/TransactionsTable.test.tsx
  src/components/TransactionsTable/TransactionsTable.tsx
  src/components/TransactionsTable/__snapshots__/TransactionsTable.test.tsx.snap
  src/components/TransactionsTable/index.ts
  src/components/TransactionsTable/lib/tableColumn.ts
  src/hooks/useBreakpoint.hook.ts
  src/i18n/index.ts
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
  src/i18n/locales/transactions/de.json
  src/i18n/locales/transactions/en.json
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/__snapshots__/TransactionsPage.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Squashed commit of the following:
  src/components/DepositsTable/DepositsTable.module.scss
  src/components/DepositsTable/DepositsTable.stories.tsx
  src/components/DepositsTable/DepositsTable.test.tsx
  src/components/DepositsTable/DepositsTable.tsx
  src/components/DepositsTable/__snapshots__/DepositsTable.test.tsx.snap
  src/components/DepositsTable/components/TransactionStatus/TransactionStatus.module.scss
  src/components/DepositsTable/components/TransactionStatus/TransactionStatus.stories.tsx
  src/components/DepositsTable/components/TransactionStatus/TransactionStatus.test.tsx
  src/components/DepositsTable/components/TransactionStatus/TransactionStatus.tsx
  src/components/DepositsTable/components/TransactionStatus/__snapshots__/TransactionStatus.test.tsx.snap
  src/components/DepositsTable/components/TransactionStatus/index.ts
  src/components/DepositsTable/index.ts
  src/components/ExternalLink/ExternalLink.module.scss
  src/components/ExternalLink/ExternalLink.stories.tsx
  src/components/ExternalLink/ExternalLink.test.tsx
  src/components/ExternalLink/ExternalLink.tsx
  src/components/ExternalLink/__snapshots__/ExternalLink.test.tsx.snap
  src/components/ExternalLink/index.ts
  src/components/TransactionsTable/TransactionsTable.styles.ts
  src/components/icons/External/External.module.scss
  src/components/icons/External/External.tsx
  src/components/icons/External/index.ts
  src/graphql/queries.ts
  src/models/depositItem.model.ts
  src/models/transactionStatus.model.ts
  src/pages/TransactionsPage/TransactionsPage.module.scss
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/components/Deposits/Deposits.module.scss
  src/pages/TransactionsPage/components/Deposits/Deposits.stories.tsx
  src/pages/TransactionsPage/components/Deposits/Deposits.tsx
  src/pages/TransactionsPage/components/Deposits/index.ts
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added resetting cache when the user changes
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added refetching transactions on page enter
  src/hooks/useRefetchOnPageEnter.hook.ts
  src/pages/TransactionsPage/components/Deposits/Deposits.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Updated yarn.lock
  yarn.lock
Due: none

Finished feature #173897183: Transactions - Deposit Details
  .env
  src/common/config/index.ts
  src/components/DepositsDetailsModal/DepositsDetailsModal.module.scss
  src/components/DepositsDetailsModal/DepositsDetailsModal.stories.tsx
  src/components/DepositsDetailsModal/DepositsDetailsModal.test.tsx
  src/components/DepositsDetailsModal/DepositsDetailsModal.tsx
  src/components/DepositsDetailsModal/__snapshots__/DepositsDetailsModal.test.tsx.snap
  src/components/DepositsDetailsModal/components/Title/Title.module.scss
  src/components/DepositsDetailsModal/components/Title/Title.tsx
  src/components/DepositsDetailsModal/components/Title/index.ts
  src/components/DepositsDetailsModal/index.ts
  src/components/DepositsTable/DepositsTable.module.scss
  src/components/DepositsTable/DepositsTable.stories.tsx
  src/components/DepositsTable/DepositsTable.test.tsx
  src/components/DepositsTable/DepositsTable.tsx
  src/components/DepositsTable/components/TransactionStatus/TransactionStatus.tsx
  src/components/DetailsContainer/DetailsContainer.module.scss
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/TransactionStatus/TransactionStatus.module.scss
  src/components/TransactionStatus/TransactionStatus.stories.tsx
  src/components/TransactionStatus/TransactionStatus.test.tsx
  src/components/TransactionStatus/TransactionStatus.tsx
  src/components/TransactionStatus/__snapshots__/TransactionStatus.test.tsx.snap
  src/components/TransactionStatus/index.ts
  src/components/TransactionsTable/TransactionsTable.styles.ts
  src/components/TransactionsTable/TransactionsTable.tsx
  src/pages/TransactionsPage/components/Deposits/Deposits.test.tsx
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Finished feature #174252340: Realtime Balance Update
  src/common/config/index.ts
  src/components/Layout/Layout.tsx
  src/graphql/subscriptions.ts
  src/hooks/useRealtimeBalance.hook.ts
  src/i18n/locales/transactions/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Finished feature #174901575: Activation modal is closed immediately after sign-up
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Updated packages
  package.json
  src/components/Carousel/__snapshots__/Carousel.test.tsx.snap
  src/pages/HomePage/__snapshots__/HomePage.test.tsx.snap
  yarn.lock
Due: prettier --write

@apollo/client 3.2.3 caused typing problems with apollo-link-token-refresh, so I fixed version to 3.2.2
  package.json
  yarn.lock
Due: prettier --write

Finished feature #173892160: Profile - Change Avatar
  .storybook/scss-loader.scss
  package.json
  patches/swiper+6.3.3.patch
  src/common/config/index.ts
  src/components/Avatar/Avatar.module.scss
  src/components/Avatar/Avatar.stories.tsx
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/components/AvatarSelector/AvatarSelector.module.scss
  src/components/AvatarSelector/AvatarSelector.scss
  src/components/AvatarSelector/AvatarSelector.stories.tsx
  src/components/AvatarSelector/AvatarSelector.test.tsx
  src/components/AvatarSelector/AvatarSelector.tsx
  src/components/AvatarSelector/__snapshots__/AvatarSelector.test.tsx.snap
  src/components/AvatarSelector/index.ts
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/icons/Edit/Edit.module.scss
  src/components/icons/Edit/Edit.tsx
  src/components/icons/Edit/index.ts
  src/graphql/mutations.ts
  src/i18n/locales/profile/de.json
  src/i18n/locales/profile/en.json
  src/index.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/components/UserInfo/UserInfo.stories.tsx
  src/pages/ProfilePage/components/UserInfo/UserInfo.tsx
  src/pages/ProfilePage/components/UserInfo/__snapshots__/UserInfo.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Updated package version to 0.6.0
  package.json
Due: prettier --write

files for image
  Dockerfile
  ava/ano.svg
  ava/m1.svg
  ava/m10.svg
  ava/m11.svg
  ava/m12.svg
  ava/m2.svg
  ava/m3.svg
  ava/m4.svg
  ava/m5.svg
  ava/m6.svg
  ava/m7.svg
  ava/m8.svg
  ava/m9.svg
  default.conf
Due: none

cicd
  .github/workflows/main.yml
Due: none

Ran yarn upgrade and fixed typescript errors
  package.json
  src/components/Layout/components/Modals/Modals.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Finished feature #175199542: Initial Page
  src/components/App/App.tsx
  src/components/GameButtonList/GameButtonList.tsx
  src/pages/GamesPage/GamesPage.test.tsx
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/__snapshots__/GamesPage.test.tsx.snap
  src/pages/GamesPage/components/DiceGame/DiceGame.module.scss
  src/pages/GamesPage/components/DiceGame/DiceGame.stories.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.test.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
  src/pages/GamesPage/components/DiceGame/index.ts
  src/pages/GamesPage/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added swiper package patch
  patches/swiper+6.3.4.patch
Due: none

Updated unit test snapshots
  src/components/PasswordRecoveryModal/__snapshots__/PasswordRecoveryModal.test.tsx.snap
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/pages/ProfilePage/components/Security/__snapshots__/Security.test.tsx.snap
Due: none

Removed waitFor from PasswordRecoveryModal test
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Removed waitFor from failing unit tests
  src/components/PasswordResetModal/PasswordResetModal.test.tsx
  src/components/SignInModal/SignInModal.test.tsx
  src/pages/ProfilePage/components/Security/Security.test.tsx
  src/pages/ProfilePage/components/Statistics/Statistics.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Finished feature #175199646: Gameplay: Basic
  src/common/util/betCalc.util.test.ts
  src/common/util/betCalc.util.ts
  src/common/util/format.util.ts
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/components/Track/Track.tsx
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/hooks/useTargetSliderMax.hook.ts
  src/hooks/useTargetSliderMin.hook.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.module.scss
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Finished feature #175285083: Gameplay: Animations
  src/assets/images/games/dice/dice-char-hit.svg
  src/assets/images/games/dice/dice-char-idle.svg
  src/common/config/index.ts
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/DiceBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/DiceBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/DiceGameBoard/DiceGameBoard.stories.tsx
  src/components/DiceGameBoard/DiceGameBoard.test.tsx
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/DiceGameBoard/components/Character/Character.module.scss
  src/components/DiceGameBoard/components/Character/Character.tsx
  src/components/DiceGameBoard/components/Character/index.ts
  src/components/icons/Diamond/Diamond.module.scss
  src/components/icons/Diamond/Diamond.tsx
  src/components/icons/Diamond/index.ts
  src/components/icons/DiceResultScale/DiceResultScale.module.scss
  src/components/icons/DiceResultScale/DiceResultScale.tsx
  src/components/icons/DiceResultScale/__snapshots__/DiceResultScale.test.tsx.snap
  src/components/icons/games/DiceCharacterHappy/DiceCharacterHappy.module.scss
  src/components/icons/games/DiceCharacterHappy/DiceCharacterHappy.tsx
  src/components/icons/games/DiceCharacterHappy/index.ts
  src/components/icons/games/DiceCharacterHitting/DiceCharacterHitting.module.scss
  src/components/icons/games/DiceCharacterHitting/DiceCharacterHitting.tsx
  src/components/icons/games/DiceCharacterHitting/index.ts
  src/components/icons/games/DiceCharacterIdle/DiceCharacterIdle.module.scss
  src/components/icons/games/DiceCharacterIdle/DiceCharacterIdle.tsx
  src/components/icons/games/DiceCharacterIdle/index.ts
  src/components/icons/games/DiceCharacterSad/DiceCharacterSad.module.scss
  src/components/icons/games/DiceCharacterSad/DiceCharacterSad.tsx
  src/components/icons/games/DiceCharacterSad/index.ts
  src/hooks/useDimensions.hook.ts
  src/models/diceGameState.model.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.test.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
  src/pages/GamesPage/components/DiceGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Finished feature #175199752: Gameplay: Bet Controls
  .eslintrc.js
  src/common/util/betCalc.util.test.ts
  src/common/util/betCalc.util.ts
  src/components/BetControl/BetControl.module.scss
  src/components/BetControl/BetControl.stories.tsx
  src/components/BetControl/BetControl.test.tsx
  src/components/BetControl/BetControl.tsx
  src/components/BetControl/__snapshots__/BetControl.test.tsx.snap
  src/components/BetControl/components/Icon/Icon.tsx
  src/components/BetControl/components/Icon/index.ts
  src/components/BetControl/index.ts
  src/components/BetControl/lib/util.test.ts
  src/components/BetControl/lib/util.ts
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/components/Handle/Handle.tsx
  src/components/TextInput/TextInput.module.scss
  src/components/icons/Multiplier/Multiplier.module.scss
  src/components/icons/Multiplier/Multiplier.tsx
  src/components/icons/Multiplier/index.ts
  src/components/icons/OverUnder/OverUnder.module.scss
  src/components/icons/OverUnder/OverUnder.tsx
  src/components/icons/OverUnder/index.ts
  src/components/icons/Percentage/Percentage.module.scss
  src/components/icons/Percentage/Percentage.tsx
  src/components/icons/Percentage/index.ts
  src/components/icons/index.ts
  src/i18n/index.ts
  src/i18n/locales/games/de.json
  src/i18n/locales/games/en.json
  src/pages/GamesPage/components/DiceGame/DiceGame.module.scss
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
  src/pages/GamesPage/components/DiceGame/lib/reducer.ts
  src/styles/_variables.scss
  src/styles/bootstrap/_variables.overrides.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Updated package version to 0.7.0
  package.json
Due: prettier --write

flow
  .github/workflows/main.yml
Due: none

both
  .github/workflows/main.yml
Due: none

Replaced all hardcoded urls [#175869357]
  scripts/apollo/generatePossibleTypes.js
  src/common/config/index.ts
  src/components/AuthOverlay/AuthOverlay.test.tsx
  src/components/Avatar/Avatar.stories.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/pages/ProfilePage/components/UserInfo/UserInfo.stories.tsx
  src/pages/ProfilePage/components/UserInfo/UserInfo.test.tsx
  src/pages/ProfilePage/components/UserInfo/__snapshots__/UserInfo.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Replaced base url in auth overlay unit test [#175869357]
  src/components/AuthOverlay/AuthOverlay.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Squashed commit of the following:
  src/components/BetAmountControl/BetAmountControl.module.scss
  src/components/BetAmountControl/BetAmountControl.stories.tsx
  src/components/BetAmountControl/BetAmountControl.test.tsx
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/BetAmountControl/__snapshots__/BetAmountControl.test.tsx.snap
  src/components/BetAmountControl/index.ts
  src/components/BetControl/BetControl.module.scss
  src/components/BetControl/BetControl.tsx
  src/components/BetControl/components/Icon/Icon.module.scss
  src/components/BetControl/components/Icon/Icon.tsx
  src/components/BetControl/lib/util.ts
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/DiceGameBoard/components/Character/Character.module.scss
  src/components/Layout/Layout.module.scss
  src/components/icons/social/Bitcoin/Bitcoin.module.scss
  src/components/icons/social/Bitcoin/Bitcoin.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.module.scss
  src/pages/GamesPage/components/DiceGame/DiceGame.stories.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
  src/pages/GamesPage/components/DiceGame/lib/reducer.ts
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Explicitly defined base url for unit tests
  package.json
  src/pages/ProfilePage/components/UserInfo/__snapshots__/UserInfo.test.tsx.snap
Due: prettier --write

Fixed forward ref warning [#175304288]
  src/components/Avatar/Avatar.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Cleaned up slider handle
  src/components/Slider/components/Handle/Handle.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Finished feature #173886063: Transactions - Bets and #173897182: Transactions - Bet Details
  src/components/BetDetailsModal/components/BetResultDetails/__snapshots__/BetResultDetails.test.tsx.snap
  src/components/BetsTable/BetsTable.module.scss
  src/components/BetsTable/BetsTable.stories.tsx
  src/components/BetsTable/BetsTable.test.tsx
  src/components/BetsTable/BetsTable.tsx
  src/components/BetsTable/__snapshots__/BetsTable.test.tsx.snap
  src/components/BetsTable/index.ts
  src/components/BitcoinProfit/__snapshots__/BitcoinProfit.test.tsx.snap
  src/components/BitcoinValue/BitcoinValue.tsx
  src/components/BitcoinValue/__snapshots__/BitcoinValue.test.tsx.snap
  src/components/NavLink/NavLink.tsx
  src/components/NavLink/__snapshots__/NavLink.test.tsx.snap
  src/components/PageHeadline/PageHeadline.module.scss
  src/components/UserStatistics/__snapshots__/UserStatistics.test.tsx.snap
  src/graphql/queries.ts
  src/models/transactionsBet.model.ts
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
  src/pages/TransactionsPage/TransactionsPage.module.scss
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/components/Bets/Bets.module.scss
  src/pages/TransactionsPage/components/Bets/Bets.stories.tsx
  src/pages/TransactionsPage/components/Bets/Bets.test.tsx
  src/pages/TransactionsPage/components/Bets/Bets.tsx
  src/pages/TransactionsPage/components/Bets/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added hammerjs to fix slider on iPhone 6 [#175740406]
  package.json
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/components/Slider/components/Handle/Handle.tsx
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
