Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint

Added serverless and travis config again
  .travis.yml
  serverless.yml
Due: none

Updated secure env variables
  .travis.yml
Due: none

Trying to fix secure slack notifications
  .travis.yml
Due: none

Moved balance to bottom bar components [#171458557]
  src/components/Layout/components/BottomBar/BottomBar.tsx
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
  src/components/Layout/components/BottomBar/components/Balance/Balance.stories.tsx
  src/components/Layout/components/BottomBar/components/Balance/Balance.test.tsx
  src/components/Layout/components/BottomBar/components/Balance/Balance.tsx
  src/components/Layout/components/BottomBar/components/Balance/__snapshots__/Balance.test.tsx.snap
  src/components/Layout/components/BottomBar/components/Balance/index.ts
Due: prettier --write, tslint --fix, stylelint

Added component for sidebar [#171458557]
  package.json
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.stories.tsx
  src/components/Layout/components/Sidebar/SideBar.test.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/Sidebar/index.ts
  yarn.lock
Due: prettier --write, tslint --fix, stylelint

Added global state handling [#171458557]
  src/components/App/App.tsx
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/state/actions/index.ts
  src/state/actions/sidebar.action.ts
  src/state/index.tsx
  src/state/models/index.ts
  src/state/models/sidebar.model.ts
  src/state/reducers/index.ts
  src/state/reducers/sidebar.reducer.ts
Due: prettier --write, tslint --fix

Added showing and hiding sidebar [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
Due: prettier --write, tslint --fix

Added sliding sidebar in and out [#171458557]
  package.json
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  yarn.lock
Due: prettier --write, tslint --fix, stylelint

Added sidebar toggle button [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/SidebarToggle/SidebarToggle.module.scss
  src/components/Layout/components/SidebarToggle/SidebarToggle.stories.tsx
  src/components/Layout/components/SidebarToggle/SidebarToggle.test.tsx
  src/components/Layout/components/SidebarToggle/SidebarToggle.tsx
  src/components/Layout/components/SidebarToggle/__snapshots__/SidebarToggle.test.tsx.snap
  src/components/Layout/components/SidebarToggle/index.ts
  src/components/Layout/components/TopBar/TopBar.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/components/icons/Arrow/Arrow.tsx
  src/components/icons/Arrow/index.ts
Due: prettier --write, tslint --fix, stylelint

Added showing arrow on correct direction and added locking scroll [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/SidebarToggle/SidebarToggle.module.scss
  src/components/Layout/components/SidebarToggle/SidebarToggle.tsx
  src/components/Layout/components/SidebarToggle/__snapshots__/SidebarToggle.test.tsx.snap
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/hooks/useLockScroll.hooks.ts
Due: prettier --write, tslint --fix, stylelint

Fixed warning [#171458557]
  src/components/Layout/components/Sidebar/SideBar.tsx
Due: prettier --write, tslint --fix

Renamed scroll lock hook [#171458557]
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/hooks/useScrollLock.hooks.ts
Due: prettier --write, tslint --fix

Added sidebar opening animation for desktop breakpoint [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/SidebarToggle/SidebarToggle.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/styles/_general.scss
  src/styles/_variables.scss
  src/styles/base.scss
Due: prettier --write, tslint --fix, stylelint

Added temp FavIcon
  public/favicon.ico
Due: none

Added BetTable from cazzzino test project
  package.json
  src/components/BetTable/BetTable.scss
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.test.tsx
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/components/BetRow/BetRow.scss
  src/components/BetTable/components/BetRow/BetRow.tsx
  src/components/BetTable/components/BetRow/index.ts
  src/components/BetTable/components/SpacerRow/SpacerRow.tsx
  src/components/BetTable/components/SpacerRow/index.ts
  src/components/BetTable/index.ts
  src/graphql/client.ts
  src/graphql/queries.ts
  src/lib/date.extensions.test.ts
  src/lib/date.extensions.ts
  src/lib/format.extensions.test.ts
  src/lib/format.extensions.ts
  src/lib/sign.extensions.test.ts
  src/lib/sign.extensions.ts
  src/models/bet.ts
  src/styles/_variables.scss
  yarn.lock
Due: prettier --write, tslint --fix, stylelint

Fixed warnings
  src/components/BetTable/BetTable.tsx
Due: prettier --write, tslint --fix

Added ApolloProvider to BetTable story
  package.json
  src/components/BetTable/BetTable.stories.tsx
  yarn.lock
Due: prettier --write, tslint --fix

Added LATEST_BETS query
  src/graphql/queries.ts
Due: prettier --write, tslint --fix

Added game icons to BetTable
  src/components/BetTable/BetTable.scss
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
  src/components/BetTable/components/BetRow/BetRow.scss
  src/components/BetTable/components/BetRow/BetRow.tsx
  src/components/icons/games/Clams/Clams.tsx
  src/components/icons/games/Clams/index.ts
  src/components/icons/games/Dice/Dice.tsx
  src/components/icons/games/Dice/index.ts
  src/components/icons/games/Goals/Goals.tsx
  src/components/icons/games/Goals/index.ts
  src/components/icons/games/Mines/Mines.tsx
  src/components/icons/games/Mines/index.ts
  src/models/bet.ts
Due: prettier --write, tslint --fix, stylelint

Fixed Goals and Mines Icons to create a screenshot for approval
  src/components/icons/games/Goals/Goals.tsx
  src/components/icons/games/Mines/Mines.tsx
Due: prettier --write, tslint --fix

Removed scroll lock on desktop breakpoints [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/LanguageSelect/LanguageSelect.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/hooks/useBreakpoint.hook.test.ts
  src/hooks/useBreakpoint.hook.ts
  src/hooks/useClickOutside.hook.ts
  src/hooks/useScrollLock.hook.ts
  src/hooks/useWindowDimensions.hook.ts
  src/styles/bootstrap/_variables.overrides.scss
Due: prettier --write, tslint --fix, stylelint

Added sidebar header [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/SidebarToggle/SidebarToggle.module.scss
  src/styles/_variables.scss
  tslint.json
Due: prettier --write, tslint --fix, stylelint

Updated GraphQL queries to new structure
  src/graphql/queries.ts
Due: prettier --write, tslint --fix

Initial implementation of Loading-, Error- and Empty-States
  src/components/BetTable/BetTable.stories.tsx
  src/components/BetTable/BetTable.tsx
Due: prettier --write, tslint --fix

Try to handle open and closed sidebar better [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/__snapshots__/GameButtonList.test.tsx.snap
  src/components/Layout/Layout.module.scss
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/pages/home/__snapshots__/HomePage.test.tsx.snap
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Updated game button styling [#171458557]
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/components/GameButton/GameButton.module.scss
  src/components/Layout/components/Sidebar/SideBar.module.scss
Due: prettier --write, tslint --fix, stylelint

Added new game button svgs [#171458557]
  src/assets/images/gameButtons/clam-gamebutton.svg
  src/assets/images/gameButtons/clam-gamebutton_xs.svg
  src/assets/images/gameButtons/clams-character-home-button.svg
  src/assets/images/gameButtons/dice-character-home-button.svg
  src/assets/images/gameButtons/dice-shadow-button.svg
  src/assets/images/gameButtons/dices-gamebutton.svg
  src/assets/images/gameButtons/goal-character-home-button.svg
  src/assets/images/gameButtons/goal-field-home-button.svg
  src/assets/images/gameButtons/goal-gamebutton.svg
  src/assets/images/gameButtons/mines-character-home-button.svg
  src/assets/images/gameButtons/mines-gamebutton.svg
  src/assets/images/gameButtons/mines-shadow-home-button.svg
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/__snapshots__/GameButtonList.test.tsx.snap
  src/components/GameButtonList/components/GameButton/GameButton.module.scss
  src/components/GameButtonList/components/GameButton/GameButton.tsx
  src/components/GameButtonList/components/GameButton/__snapshots__/GameButton.test.tsx.snap
  src/pages/home/__snapshots__/HomePage.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Refactored goal game button [#171458557]
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/components/GameButton/GameButton.module.scss
  src/components/GameButtonList/components/GameButton/GameButton.tsx
  src/components/GameButtonList/components/GameButton/__snapshots__/GameButton.test.tsx.snap
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.module.scss
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.stories.tsx
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.test.tsx
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.tsx
  src/components/GameButtonList/components/GoalGameButton/index.ts
Due: prettier --write, tslint --fix, stylelint

Refactored mines game button [#171458557]
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/components/GameButton/GameButton.module.scss
  src/components/GameButtonList/components/GameButton/GameButton.tsx
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.module.scss
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.stories.tsx
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.test.tsx
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.tsx
  src/components/GameButtonList/components/MinesGameButton/index.ts
Due: prettier --write, tslint --fix, stylelint

Refactored clams game button [#171458557]
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.module.scss
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.stories.tsx
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.test.tsx
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.tsx
  src/components/GameButtonList/components/ClamGameButton/index.ts
Due: prettier --write, tslint --fix, stylelint

Refactored dices game button [#171458557]
  src/components/GameButtonList/GameButtonList.tsx
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.module.scss
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.stories.tsx
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.test.tsx
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.tsx
  src/components/GameButtonList/components/DicesGameButton/index.ts
  src/components/GameButtonList/components/GameButton/GameButton.module.scss
Due: prettier --write, tslint --fix, stylelint

Update unit test snapshots [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/GameButtonList/__snapshots__/GameButtonList.test.tsx.snap
  src/components/GameButtonList/components/ClamGameButton/__snapshots__/ClamGameButton.test.tsx.snap
  src/components/GameButtonList/components/DicesGameButton/__snapshots__/DicesGameButton.test.tsx.snap
  src/components/GameButtonList/components/GameButton/__snapshots__/GameButton.test.tsx.snap
  src/components/GameButtonList/components/GoalGameButton/__snapshots__/GoalGameButton.test.tsx.snap
  src/components/GameButtonList/components/MinesGameButton/__snapshots__/MinesGameButton.test.tsx.snap
  src/pages/home/__snapshots__/HomePage.test.tsx.snap
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

npm->yarn
  .circleci/config.yml
Due: none

store test results
  .circleci/config.yml
Due: none

store test results xml
  .circleci/config.yml
Due: none

step store test results
  .circleci/config.yml
Due: none

mkdir test-results
  .circleci/config.yml
Due: none

Optimized footer for sidebar [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Optimized slider for sidebar [#171458557]
  src/components/Carousel/Carousel.module.scss
  src/components/Carousel/Carousel.tsx
Due: prettier --write, tslint --fix, stylelint

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  tslint --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
