Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Created placholder for bet details component [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.stories.tsx
  src/components/BetDetailsModal/BetDetailsModal.test.tsx
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/index.ts
  src/components/UserInfoModal/UserInfoModal.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added scrolling to top on page transition [#172578715]
  src/components/Modal/Modal.tsx
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Updated snapshot [#172518840]
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
Due: none

Added bet details page component [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.test.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/__snapshots__/BetDetailsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/index.ts
  src/components/Modal/Modal.tsx
  src/components/PageableModal/PageableModal.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/Username/Username.module.scss
  src/components/Username/Username.test.tsx
  src/components/Username/Username.tsx
  src/components/Username/__snapshots__/Username.test.tsx.snap
  src/components/Username/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added scrolling to top after active page has exited [#172578715]
  src/components/Modal/Modal.tsx
  src/components/PageableModal/PageableModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed scroll to top on Edge Browser [#172578715]
  src/components/PageableModal/PageableModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added story without scrolling [#172578715]
  src/components/PageableModal/PageableModal.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added separate component for game icon and text [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/GameIcon/GameIcon.stories.tsx
  src/components/GameIcon/GameIcon.tsx
  src/components/GameIconAndText/GameIconAndText.module.scss
  src/components/GameIconAndText/GameIconAndText.stories.tsx
  src/components/GameIconAndText/GameIconAndText.test.tsx
  src/components/GameIconAndText/GameIconAndText.tsx
  src/components/GameIconAndText/__snapshots__/GameIconAndText.test.tsx.snap
  src/components/GameIconAndText/index.ts
  src/components/LatestBetsTable/LatestBetsTable.stories.tsx
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/hooks/betBuffer.test.ts
  src/hooks/betBuffer.ts
  src/hooks/useBetBuffer.hook.test.ts
  src/hooks/useBetBuffer.hook.ts
  src/hooks/useBetGenerator.hook.ts
  src/models/bet.model.ts
  src/models/gameTypes.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added bitcoin profit to bet details [#172518840]
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/BitcoinProfit/BitcoinProfit.stories.tsx
  src/components/BitcoinProfit/BitcoinProfit.test.tsx
  src/components/BitcoinProfit/BitcoinProfit.tsx
  src/components/BitcoinProfit/__snapshots__/BitcoinProfit.test.tsx.snap
  src/components/BitcoinProfit/index.ts
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added multipliert to bet details [#172518840]
  src/common/config/index.ts
  src/common/util/format.util.test.ts
  src/common/util/format.util.ts
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Configured eslint to error on no-console rule
  .eslintrc.js
Due: none

Updated color code for hidden values
  src/components/LatestBetsTable/components/BetRow/BetRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/components/Username/Username.module.scss
Due: prettier --write, stylelint

Added username to bet details [#172518840]
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added lowercase to multiplier [#172518840]
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/DetailList/lib/detail.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added click handler to username [#172518840]
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/Username/Username.module.scss
  src/components/Username/Username.tsx
  src/components/Username/__snapshots__/Username.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added opening betdetails modal from latest bets [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.stories.tsx
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.module.scss
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/Layout/Layout.tsx
  src/components/PageableModal/PageableModal.tsx
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added back button function to user info modal [#172518840]
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added timeout when switching between modals [#172518840]
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactor UserInfoModal for separation of concerns
  src/components/Layout/Layout.tsx
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added Storybook story for custom UserInfoModal
  src/components/Layout/Layout.tsx
  src/components/UserInfoModal/UserInfoModal.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added fetching user avatar [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.stories.tsx
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/BetDetailsModal/index.ts
  src/components/Layout/Layout.test.tsx
  src/components/Layout/Layout.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/Username/Username.module.scss
  src/components/Username/Username.tsx
  src/components/Username/__snapshots__/Username.test.tsx.snap
  src/graphql/queries.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Switched root logic for Storybook and adapted stories
  .storybook/preview.js
  src/components/Layout/components/BottomBar/components/Balance/Balance.stories.tsx
  src/components/Spinner/Spinner.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added translations [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/PageableModal/PageableModal.tsx
  src/i18n/index.ts
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed avatar loading spinner [#172518840]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/Username/Username.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Removed value manipulations [#173171118]
  src/common/util/format.util.test.ts
  src/common/util/format.util.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added details container component and added it to modals [#172581000]
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.module.scss
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.stories.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.test.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.tsx
  src/components/BetDetailsModal/components/BetResultDetails/__snapshots__/BetResultDetails.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultDetails/index.ts
  src/components/DetailsContainer/DetailsContainer.module.scss
  src/components/DetailsContainer/DetailsContainer.stories.tsx
  src/components/DetailsContainer/DetailsContainer.test.tsx
  src/components/DetailsContainer/DetailsContainer.tsx
  src/components/DetailsContainer/__snapshots__/DetailsContainer.test.tsx.snap
  src/components/DetailsContainer/index.ts
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added values to bet result details [#172581000]
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.stories.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.tsx
  src/components/BetDetailsModal/components/BetResultDetails/__snapshots__/BetResultDetails.test.tsx.snap
  src/components/ProfitLabel/ProfitLabel.module.scss
  src/components/ProfitLabel/ProfitLabel.stories.tsx
  src/components/ProfitLabel/ProfitLabel.test.tsx
  src/components/ProfitLabel/ProfitLabel.tsx
  src/components/ProfitLabel/__snapshots__/ProfitLabel.test.tsx.snap
  src/components/ProfitLabel/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed showing timestamp instead of date and time [#172518840]
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showing only username intials on avatar alt test [#172518840]
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/Username/Username.tsx
  src/components/Username/__snapshots__/Username.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Reduced size of spinner to fix wobbling on firefox [#172518840]
  src/components/Username/Username.module.scss
Due: prettier --write, stylelint

Rearranged bet result details component props [#172581000]
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.stories.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.test.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added bet results page [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added value to dice bet result scale [#172518860]
  src/assets/images/games/dice/dice-agregat.svg
  src/assets/images/games/dice/dice-char-happy.svg
  src/assets/images/games/dice/dice-char-sad.svg
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/BetResultsDice.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/index.ts
  src/components/icons/DiceResultScale/DiceResultScale.module.scss
  src/components/icons/DiceResultScale/DiceResultScale.test.tsx
  src/components/icons/DiceResultScale/DiceResultScale.tsx
  src/components/icons/DiceResultScale/__snapshots__/DiceResultScale.test.tsx.snap
  src/components/icons/DiceResultScale/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added bet details to dice bet results page [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/BetResultsDice.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/index.ts
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/DiceGameBoard/DiceGameBoard.stories.tsx
  src/components/DiceGameBoard/DiceGameBoard.test.tsx
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/DiceGameBoard/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added slider from test project [#172518860]
  package.json
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.test.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/components/Slider/components/Handle/Handle.module.scss
  src/components/Slider/components/Handle/Handle.tsx
  src/components/Slider/components/Handle/index.ts
  src/components/Slider/components/Tick/Tick.module.scss
  src/components/Slider/components/Tick/Tick.tsx
  src/components/Slider/components/Tick/index.ts
  src/components/Slider/components/Track/Track.module.scss
  src/components/Slider/components/Track/Track.tsx
  src/components/Slider/components/Track/index.ts
  src/components/Slider/index.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Removed ticks from slider [#172518860]
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
  src/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/components/Slider/components/Tick/Tick.module.scss
  src/components/Slider/components/Tick/Tick.tsx
  src/components/Slider/components/Tick/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Roughly positioned slider on scale [#172518860]
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/Slider/Slider.module.scss
  src/components/Slider/components/Track/Track.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Reduced slider handle size on desktop [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/components/Slider/components/Handle/Handle.module.scss
  src/components/Slider/components/Handle/Handle.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved slider positioning [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/components/Handle/Handle.module.scss
  src/components/Slider/components/Track/Track.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added disabling slider when showing results [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.stories.tsx
  src/components/DiceGameBoard/DiceGameBoard.test.tsx
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
