Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

no env
  .env
Due: none

no env
  README.md
Due: prettier --write

test envs
  .env.dev
  .env.staging
  package.json
Due: prettier --write

img ver st
  README.md
Due: prettier --write

fixing some responsiveness
  src/components/MineGameBoard/MineGameBoard.module.scss
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

mstr tst
  README.md
Due: prettier --write

test
  README.md
Due: prettier --write

a
  README.md
Due: prettier --write

dev
  README.md
Due: prettier --write

dev,st
  README.md
Due: prettier --write

2
  README.md
Due: prettier --write

add claimedbonuses
  src/assets/images/bonuses/bonuses-side-illustration.svg
  src/components/App/App.tsx
  src/components/Footer/Footer.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/icons/BonusPosition/BonusPosition.module.scss
  src/components/icons/BonusPosition/BonusPosition.tsx
  src/components/icons/BonusPosition/index.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/pages/BonusesPage/BonusesPage.module.scss
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/BonusesPage/components/Leaderboard/index.ts
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.module.scss
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.test.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/__snapshots__/UnClaimedBonuses.test.tsx.snap
  src/pages/BonusesPage/components/UnClaimedBonuses/index.ts
  src/pages/BonusesPage/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

bonus indicator
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

bonus transactions
  src/components/BonusesTable/BonusesTable.module.scss
  src/components/BonusesTable/BonusesTable.test.tsx
  src/components/BonusesTable/BonusesTable.tsx
  src/components/BonusesTable/__snapshots__/BonusesTable.test.tsx.snap
  src/components/BonusesTable/index.ts
  src/graphql/queries.ts
  src/models/transactionsBonus.model.ts
  src/pages/BonusesPage/BonusesPage.module.scss
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/__snapshots__/TransactionsPage.test.tsx.snap
  src/pages/TransactionsPage/components/Bonuses/Bonuses.module.scss
  src/pages/TransactionsPage/components/Bonuses/Bonuses.test.tsx
  src/pages/TransactionsPage/components/Bonuses/Bonuses.tsx
  src/pages/TransactionsPage/components/Bonuses/__snapshots__/Bonuses.test.tsx.snap
  src/pages/TransactionsPage/components/Bonuses/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

bonus details modal
  .env
  README.md
  src/components/BonusDetailsModal/BonusDetailsModal.module.scss
  src/components/BonusDetailsModal/BonusDetailsModal.test.tsx
  src/components/BonusDetailsModal/BonusDetailsModal.tsx
  src/components/BonusDetailsModal/__snapshots__/BonusDetailsModal.test.tsx.snap
  src/components/BonusDetailsModal/index.ts
  src/components/BonusesTable/BonusesTable.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/i18n/locales/modals/en.json
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

bonus bg image
  src/pages/BonusesPage/BonusesPage.module.scss
Due: prettier --write, stylelint

fix bonus table
  src/components/BonusDetailsModal/BonusDetailsModal.tsx
  src/components/BonusesTable/BonusesTable.tsx
  src/models/transactionsBonus.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Bonus red badge indicator
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor change
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor changes for mines game
  src/graphql/queries.ts
  src/pages/GamesPage/components/MineGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor change for upper lower text
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor change for upper lower text
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing feedback
  src/components/BetAmountControl/BetAmountControl.module.scss
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/MineGameBoard/MineGameBoard.module.scss
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fixing 2 items-Spacing is too small Error handling
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing 2 items-spacing is too small Error handling
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing feedbacks, totally
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing - The setup still doesn’t work as expected
  src/components/Layout/components/TopBar/TopBar.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Minor change for profit cut message
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing bet details page responsive
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
  src/components/DetailList/DetailList.module.scss
  src/components/DetailList/DetailList.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing some issues on mobile device
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/DetailList/DetailList.module.scss
  src/components/DetailList/DetailList.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Completing transaction milestone
  src/assets/images/affiliate/commissions.svg
  src/assets/images/affiliate/download.svg
  src/components/AffiliatesTable/AffiliatesTable.module.scss
  src/components/AffiliatesTable/AffiliatesTable.tsx
  src/components/AffiliatesTable/index.ts
  src/components/App/App.tsx
  src/components/BetsTable/BetsTable.tsx
  src/components/DepositsTable/DepositsTable.tsx
  src/components/Footer/Footer.tsx
  src/graphql/queries.ts
  src/i18n/locales/affiliates/de.json
  src/i18n/locales/affiliates/en.json
  src/i18n/locales/transactions/en.json
  src/models/transactionsAffiliates.model.ts
  src/pages/AffiliatesPage/AffiliatesPage.module.scss
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/commissions/Commissions.tsx
  src/pages/AffiliatesPage/components/commissions/index.ts
  src/pages/AffiliatesPage/components/marketing/Marketing.tsx
  src/pages/AffiliatesPage/components/marketing/index.ts
  src/pages/AffiliatesPage/components/stats/Stats.tsx
  src/pages/AffiliatesPage/components/stats/index.ts
  src/pages/AffiliatesPage/index.ts
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/components/Affiliates/Affiliates.module.scss
  src/pages/TransactionsPage/components/Affiliates/Affiliates.tsx
  src/pages/TransactionsPage/components/Affiliates/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

minor change
  src/pages/AffiliatesPage/components/marketing/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Adding stats & commission & affiliates details page
  src/components/AffiliatesDettailsModal/AffiliatesDetailsModal.module.scss
  src/components/AffiliatesDettailsModal/AffiliatesDetailsModal.tsx
  src/components/AffiliatesDettailsModal/index.ts
  src/components/AffiliatesTable/AffiliatesTable.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/i18n/index.ts
  src/i18n/locales/affiliates/de.json
  src/i18n/locales/modals/en.json
  src/pages/AffiliatesPage/AffiliatesPage.module.scss
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/commissions/Commissions.tsx
  src/pages/AffiliatesPage/components/stats/Stats.tsx
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing for responsive
  .prettierrc
  src/components/Footer/Footer.tsx
  src/components/UserMenu/UserMenu.tsx
  src/i18n/locales/common/en.json
  src/pages/AffiliatesPage/AffiliatesPage.module.scss
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/commissions/Commissions.tsx
  src/pages/AffiliatesPage/components/stats/Stats.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Completing the whole sub-milestones
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/i18n/locales/affiliates/en.json
  src/models/user.model.ts
  src/pages/AffiliatesPage/AffiliatesPage.module.scss
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/commissions/Commissions.tsx
  src/pages/AffiliatesPage/components/marketing/Marketing.tsx
  src/pages/AffiliatesPage/components/stats/Stats.tsx
  src/pages/BonusesPage/BonusesPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixing some changes
  src/components/UserMenu/UserMenu.tsx
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/marketing/Marketing.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Adding audio effects
  .eslintrc.js
  package.json
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
  src/components/Layout/components/BottomBar/components/Balance/Balance.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.module.scss
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/MineGameBoard/MineGameBoard.tsx
  src/components/Slider/Slider.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/state/actions/sidebar.action.ts
  src/state/index.tsx
  src/state/models/sidebar.model.ts
  src/state/reducers/sidebar.reducer.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Adding mp3 files
  src/components/icons/Sound/Sound.module.scss
  src/components/icons/Sound/Sound.tsx
  src/components/icons/Sound/index.ts
  src/sounds/balance-updated-v1.mp3
  src/sounds/bonus-claim-v1.mp3
  src/sounds/bonus-received-v1.mp3
  src/sounds/button-click-v1.mp3
  src/sounds/clams-select-v1.mp3
  src/sounds/clams-win-v1.mp3
  src/sounds/clams-win-v2.mp3
  src/sounds/clams-win-v3.mp3
  src/sounds/clams-win-v4.mp3
  src/sounds/countdown-v1.mp3
  src/sounds/dice-hit-v1.mp3
  src/sounds/dice-hit-v2.mp3
  src/sounds/dice-hit-v3.mp3
  src/sounds/dice-slider-v1.mp3
  src/sounds/dice-slider-v2.mp3
  src/sounds/dice-win-v1.mp3
  src/sounds/goals-select-v1.mp3
  src/sounds/goals-select-v2.mp3
  src/sounds/goals-select-v3.mp3
  src/sounds/goals-win-v1.mp3
  src/sounds/goals-win-v2.mp3
  src/sounds/mines-lost-v1.mp3
  src/sounds/mines-win-v1.mp3
  src/sounds/toast-v1.mp3
  src/sounds/universal-lost-v1.mp3
  src/sounds/unlock-seed-v1.mp3
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
