Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

fix profit
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix profit
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
Due: none

add goal-bg, goal-keeper
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/GoalGameBoard/index.ts
  src/components/icons/games/ClamIdle/ClamIdle.tsx
  src/components/icons/games/ClamLost/ClamLost.tsx
  src/components/icons/games/ClamPearl/ClamPearl.tsx
  src/components/icons/games/ClamSelected/ClamSelected.tsx
  src/components/icons/games/ClamWin/ClamWin.tsx
  src/components/icons/games/GoalBackground/GoalBackground.module.scss
  src/components/icons/games/GoalBackground/GoalBackground.tsx
  src/components/icons/games/GoalBackground/index.ts
  src/components/icons/games/GoalKeeperIdle/GoalKeeperIdle.module.scss
  src/components/icons/games/GoalKeeperIdle/GoalKeeperIdle.tsx
  src/components/icons/games/GoalKeeperIdle/index.ts
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

goal game design
  src/components/ButtonGroup/ButtonGroup.module.scss
  src/components/ButtonGroup/ButtonGroup.tsx
  src/components/ButtonGroup/index.ts
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/i18n/locales/games/en.json
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

add goals game init design
  src/components/ButtonGroup/ButtonGroup.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/graphql/mutations.ts
  src/graphql/possibleTypes.json
  src/graphql/queries.ts
  src/i18n/locales/games/en.json
  src/models/goalGameState.model.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.stories.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.test.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/__snapshots__/GoalGame.test.tsx.snap
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

add goals game init design
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

master push
  .github/workflows/main.yml
Due: none

indent fix
  .github/workflows/main.yml
Due: none

add game-general.scss
  src/components/BetAmountControl/BetAmountControl.tsx
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/i18n/locales/games/en.json
  src/models/goalGameState.model.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
  src/styles/game-general.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

working on goalsgame stages
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/GoalGameStages/GoalGameStages.module.scss
  src/components/GoalGameStages/GoalGameStages.tsx
  src/components/GoalGameStages/index.ts
  src/graphql/mutations.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/styles/game-general.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

finish idle prototype
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/GoalGameStages/GoalGameStages.module.scss
  src/components/GoalGameStages/GoalGameStages.tsx
  src/components/icons/games/GoalBall/GoalBall.module.scss
  src/components/icons/games/GoalBall/GoalBall.tsx
  src/components/icons/games/GoalBall/index.ts
  src/components/icons/games/GoalMainBall/GoalMainBall.module.scss
  src/components/icons/games/GoalMainBall/GoalMainBall.tsx
  src/components/icons/games/GoalMainBall/index.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

finish idle prototype
  src/components/icons/games/GoalBall/index.ts
  src/components/icons/games/GoalMainBall/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

finish idle prototype
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

updates v1
  src/components/ButtonGroup/ButtonGroup.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/GoalGameStages/GoalGameStages.module.scss
  src/components/icons/games/GoalBall/GoalBall.tsx
  src/components/icons/games/GoalBall/GoalBallIdle.module.scss
  src/components/icons/games/GoalBall/GoalBallIdle.tsx
  src/components/icons/games/GoalBall/GoalBallWon.scss
  src/components/icons/games/GoalBall/GoalBallWon.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

add won stage #1 design
  sample.json
  src/components/GoalGameStages/GoalGameStages.module.scss
  src/components/GoalGameStages/GoalGameStages.tsx
  src/graphql/mutations.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fixing an error when setup goals game
  sample.json
  src/common/config/index.ts
  src/components/GoalGameStages/GoalGameStages.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add profitcut modal
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/ProfitCutModal/ProfitCutModal.module.scss
  src/components/ProfitCutModal/ProfitCutModal.tsx
  src/components/ProfitCutModal/index.ts
  src/i18n/locales/modals/en.json
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

add profitcut modal
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/ProfitCutModal/ProfitCutModal.tsx
  src/components/icons/Warning/Warning.module.scss
  src/components/icons/Warning/Warning.tsx
  src/components/icons/Warning/index.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

format
  sample.json
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameStages/GoalGameStages.module.scss
  src/components/ProfitCutModal/ProfitCutModal.module.scss
  src/components/ProfitCutModal/ProfitCutModal.tsx
  src/components/icons/Warning/Warning.module.scss
  src/components/icons/Warning/Warning.tsx
  src/components/icons/games/GoalBall/GoalBallIdle.module.scss
  src/components/icons/games/GoalBall/GoalBallWon.scss
  src/components/icons/games/GoalMainBall/GoalMainBall.module.scss
  src/i18n/locales/games/en.json
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

profitcutmodal
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

responsive design
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

stages update
  src/components/GoalGameStages/GoalGameStages.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix deploy build issues
  src/models/goalGameState.model.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix deploy build issues
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix betamount
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add all goalkeepers
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/icons/games/GoalBall/GoalBall.tsx
  src/components/icons/games/GoalBall/GoalBallLost.module.scss
  src/components/icons/games/GoalBall/GoalBallLost.tsx
  src/components/icons/games/GoalBall/GoalBallWon.module.scss
  src/components/icons/games/GoalBall/GoalBallWon.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperIdle.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperIdle.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperLostLeft.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperLostLeft.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperLostMiddle.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperLostMiddle.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperLostRight.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperLostRight.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperWonLeft.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperWonLeft.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperWonMiddle.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperWonMiddle.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperWonRight.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperWonRight.tsx
  src/components/icons/games/GoalKeeper/index.ts
  src/components/icons/games/GoalKeeperIdle/index.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

take money
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/GoalGameStages/GoalGameStages.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/models/goalGameState.model.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

formatted files
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/icons/games/GoalBall/GoalBallLost.module.scss
  src/components/icons/games/GoalBall/GoalBallLost.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperLostLeft.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperLostMiddle.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperLostMiddle.tsx
  src/components/icons/games/GoalKeeper/GoalKeeperLostRight.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperWonLeft.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperWonMiddle.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeperWonRight.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

take money button disabled
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update cashoutGoals
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

profit null in stages
  src/components/GoalGameStages/GoalGameStages.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix advances error
  src/common/config/index.ts
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/components/GoalGameAdvances/index.ts
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/GoalGameStages/index.ts
  src/components/icons/games/GoalBall/GoalBall.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/models/goalGameState.model.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

mobile responsive design
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/styles/game-general.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

reformat
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

update
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update errorBet
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update probability text
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix probability
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix effect errors
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix
