Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

x
  README.md
Due: prettier --write

nu
  package.json
Due: prettier --write

fix dice game
  src/components/App/App.tsx
  src/graphql/newClient.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

demo
  src/state/actions/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

pkg
  package.json
Due: prettier --write

New Auth changes
  src/common/util/error.util.ts
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/graphql/newClient.ts
  src/hooks/usePendingBet.hook.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/user/user.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Recent fixes
  src/components/SignInModal/SignInModal.tsx
  src/graphql/newClient.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/SeedPage/SeedPage.tsx
  src/user/UserLayer.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

[Authorization] Replace localStorage with in memory storage; OnInit refresh_token logic
  package-lock.json
  src/components/Layout/Layout.tsx
  src/graphql/client.ts
  src/graphql/newClient.ts
  src/user/UserLayer.tsx
  src/user/UserProvider.tsx
  src/user/user.reducer.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix name
  src/user/UserLayer.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

restore package.json
  package-lock.json
Due: prettier --write

restore yarn.lock
  yarn.lock
Due: none

under maint
  Dockerfile
  underm.html
Due: none

[2] Update football game design; bottom panel changes
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/Layout/Layout.module.scss
  src/components/Layout/components/BottomBar/BottomBar.tsx
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
  src/components/Layout/components/BottomBar/components/Menu/Menu.module.scss
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/styles/_variables.scss
  src/styles/game-general.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

[NS] Fix all linter logs
  src/components/App/App.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/ProfitCutModal/ProfitCutModal.tsx
  src/components/WithdrawalsTable/WithdrawalsTable.tsx
  src/components/icons/BonusPosition/BonusPosition.tsx
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

[3] Languages
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/Carousel/Carousel.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.tsx
  src/components/CheckboxInput/CheckboxInput.tsx
  src/components/DepositsDetailsModal/DepositsDetailsModal.tsx
  src/components/Error/Error.tsx
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/WithdrawAmountControl/WithdrawAmountControl.tsx
  src/i18n/index.ts
  src/i18n/locales/auth/en.json
  src/i18n/locales/common/en.json
  src/i18n/locales/components/en.json
  src/i18n/locales/modals/en.json
  src/i18n/locales/seeds/en.json
  src/pages/ProfilePage/components/Preferences/Preferences.tsx
  src/pages/ProfilePage/components/Security/Security.tsx
  src/user/UserLayer.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

[1] Custom Pages + Game Rules based on Custom Pages engine
  package.json
  src/components/App/App.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/icons/Book/Book.tsx
  src/i18n/locales/modals/en.json
  src/pages/CustomPage/CustomPage.component.tsx
  src/pages/CustomPage/index.ts
  src/pages/CustomPage/pages/clamGame/de.md
  src/pages/CustomPage/pages/clamGame/en.md
  src/pages/CustomPage/pages/diceGame/de.md
  src/pages/CustomPage/pages/diceGame/en.md
  src/pages/CustomPage/pages/faq/de.md
  src/pages/CustomPage/pages/faq/en.md
  src/pages/CustomPage/pages/goalGame/de.md
  src/pages/CustomPage/pages/goalGame/en.md
  src/pages/CustomPage/pages/minesGame/de.md
  src/pages/CustomPage/pages/minesGame/en.md
  src/pages/GamesPage/components/GameModal/GameModal.component.tsx
  src/pages/GamesPage/components/GameModal/index.ts
  src/pages/GamesPage/components/GameModal/useOpenGameModal.tsx
  src/pages/Page404/Page404.tsx
  src/state/models/modal.model.ts
  src/state/reducers/modal.reducer.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

[Pages] Add links to footer; Create URLs for custom pages
  src/components/App/App.tsx
  src/components/Footer/Footer.tsx
  src/i18n/index.ts
  src/pages/CustomPage/pages/affiliatesIntro/de.md
  src/pages/CustomPage/pages/affiliatesIntro/en.md
  src/pages/CustomPage/pages/bonusesIntro/de.md
  src/pages/CustomPage/pages/bonusesIntro/en.md
  src/pages/CustomPage/pages/fairness/de.md
  src/pages/CustomPage/pages/fairness/en.md
  src/pages/CustomPage/pages/privacyPolicy/de.md
  src/pages/CustomPage/pages/privacyPolicy/en.md
  src/pages/CustomPage/pages/termsOfUse/de.md
  src/pages/CustomPage/pages/termsOfUse/en.md
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

[Pages] Remove 404 error on modal close (#159)
  src/pages/CustomPage/CustomPage.component.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

testing markup
  src/pages/CustomPage/pages/affiliatesIntro/en.md
Due: prettier --write

eee
  src/pages/CustomPage/pages/goalGame/en.md
Due: prettier --write

[Football] Fixes for football (#160)
  .lintstagedrc
  .stylelintrc
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

[NS] Bottom bar balance fix (#161)
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
Due: prettier --write, stylelint

[Static pages] Mobile padding; Max height (#162)
  src/pages/CustomPage/CustomPage.component.tsx
  src/pages/CustomPage/CustomPage.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

de
  src/pages/CustomPage/pages/affiliatesIntro/de.md
  src/pages/CustomPage/pages/affiliatesIntro/en.md
Due: prettier --write

[Football] Game fixes (#163)
  src/components/CashierModal/CashierModal.tsx
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/graphql/newClient.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/user/UserLayer.tsx
  src/user/user.actions.ts
  src/user/user.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

[Football] Game fixes (#164)
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/styles/game-general.scss
Due: prettier --write, stylelint

[Football] Game fixes (#165)
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

test
  src/pages/CustomPage/pages/bonusesIntro/en.md
Due: prettier --write

[NF] Extend React Markdown (#166)
  package.json
  src/pages/CustomPage/CustomPage.component.tsx
  src/pages/CustomPage/pages/faq/en.md
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

a
  src/pages/CustomPage/pages/bonusesIntro/en.md
Due: prettier --write

aa
  src/pages/CustomPage/pages/bonusesIntro/en.md
Due: prettier --write
