Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Update README.md
  README.md
Due: prettier --write

eee
  README.md
Due: prettier --write

blabla #dev
  README.md
Due: prettier --write

ebani
  README.md
Due: prettier --write

gadosti
  README.md
Due: prettier --write

klirmlir
  README.md
Due: prettier --write

kopla
  README.md
Due: prettier --write

mimimi
  README.md
Due: prettier --write

karmruk
  README.md
Due: prettier --write

karamba
  README.md
Due: prettier --write

baraba #dev
  README.md
Due: prettier --write

#dev
  README.md
Due: prettier --write

#all
  README.md
Due: prettier --write

nikol
  README.md
Due: prettier --write

Minor changes for chat widget
  src/components/App/App.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/customerSupport/CustomerSupport.js
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor changes
  env
Due: none

Minor change for env file
  scripts/reload_pm2.sh
Due: none

Adding promo page
  src/components/App/App.tsx
  src/i18n/locales/bonuses/en.json
  src/pages/BonusesPage/BonusesPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

nadozhebylomnevottak
  README.md
Due: prettier --write

test
  package.json
Due: prettier --write

aaa
  README.md
Due: prettier --write

CI=false
  package.json
Due: prettier --write

nadeus pravilno
  package.json
Due: prettier --write

changes
  .env
  package.json
  plan.md
  src/components/App/App.tsx
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/AuthRoute/AuthRoute.test.tsx
  src/components/AuthRoute/AuthRoute.tsx
  src/components/AuthRoute/__snapshots__/AuthRoute.test.tsx.snap
  src/components/AuthRoute/index.ts
  src/components/Layout/Layout.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/LayoutPage/LayoutPage.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/graphql/client.ts
  src/hooks/useApolloClient.hook.ts
  src/hooks/useMutationWithAuth.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/state/actions/index.ts
  src/state/actions/newAuth.action.ts
  src/state/index.tsx
  src/state/models/index.ts
  src/state/reducers/index.ts
  src/state/reducers/newAuth.reducer.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

new auth changes
  src/common/util/storage.util.ts
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/BetsTable/BetsTable.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/FaucetModal/FaucetModal.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/ProfitCutModal/ProfitCutModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/graphql/client.ts
  src/hooks/useApolloClient.hook.ts
  src/hooks/useIsAuthorized.ts
  src/hooks/useRealtimeBalance.hook.ts
  src/hooks/useRealtimeBonusNotification.hook.ts
  src/pages/AffiliatesPage/AffiliatesPage.tsx
  src/pages/AffiliatesPage/components/marketing/Marketing.tsx
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/state/actions/auth.action.ts
  src/state/actions/index.ts
  src/state/actions/newAuth.action.ts
  src/state/index.tsx
  src/state/models/index.ts
  src/state/models/newAuth.model.ts
  src/state/reducers/auth.reducer.ts
  src/state/reducers/index.ts
  src/state/reducers/newAuth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

new auth changes
  src/state/index.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

new auth changes
  package.json
Due: prettier --write

changes
  package.json
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/SignInModal/SignInModal.tsx
  src/hooks/useApolloClient.hook.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/GamesPage/components/MineGame/__snapshots__/MineGame.test.tsx.snap
  src/state/actions/newAuth.action.ts
  src/state/index.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

x
  README.md
Due: prettier --write

x
  src/index.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

dev
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
