Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

Fixed code input appearance on windows [#173468301]
  src/components/CodeInput/CodeInput.module.scss
Due: prettier --write, stylelint

Added namespaces to SignIn and SignUp
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added new translation for AUTH_ERROR AND ACCOUNT_USERNAME_ALREADY_EXISTS
  docs/errorMessages_optimized.json
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed translation typo [#173960985]
  src/i18n/locales/auth/de.json
Due: prettier --write

Fixed showing previous error on activation [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showing number keyboard on older iOS devices [#173468301]
  src/components/CodeInput/CodeInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed modal full height [#173962379]
  package.json
  src/components/ChangeServerSeedConfirmationModal/__snapshots__/ChangeServerSeedConfirmationModal.test.tsx.snap
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added opening modals via url [#173468302]
  package.json
  src/components/App/App.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/hooks/useQueryParams.hook.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added password reset component [#173962379]
  src/components/Layout/components/Modals/Modals.tsx
  src/components/PasswordResetModal/PasswordResetModal.module.scss
  src/components/PasswordResetModal/PasswordResetModal.stories.tsx
  src/components/PasswordResetModal/PasswordResetModal.test.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
  src/components/PasswordResetModal/index.ts
  src/components/PasswordResetModal/lib/validationSchema.ts
  src/graphql/mutations.ts
  src/i18n/locales/auth/en.json
  src/state/actions/auth.action.ts
  src/state/models/auth.model.ts
  src/state/models/modal.model.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added saving password reset token [#173468302]
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Improved spacings [#173468302]
  src/components/PasswordResetModal/PasswordResetModal.module.scss
  src/components/PasswordResetModal/PasswordResetModal.stories.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved button width [#173468302]
  src/components/PasswordResetModal/PasswordResetModal.module.scss
  src/components/PasswordResetModal/PasswordResetModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed unit test [#173468302]
  src/components/PasswordResetModal/PasswordResetModal.test.tsx
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added component for password recovery [#173468302]
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.module.scss
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.stories.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.test.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordRecoveryModal/__snapshots__/PasswordRecoveryModal.test.tsx.snap
  src/components/PasswordRecoveryModal/index.ts
  src/components/PasswordRecoveryModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added password recovery mutation [#173468302]
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.stories.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added desktop styling to recovery modal [#173468302]
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.module.scss
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordRecoveryModal/__snapshots__/PasswordRecoveryModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added opening recovery modal from sign-in [#173468302]
  src/components/Layout/components/Modals/Modals.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/i18n/locales/auth/en.json
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed forgot password text alignment [#173468302]
  src/components/SignInModal/SignInModal.module.scss
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added closing modal after successful password reset [#173468302]
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added handling all modals via route [#173468302]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Modal/lib/util.ts
  src/components/SignInModal/SignInModal.tsx
  src/state/models/modal.model.ts
  src/state/reducers/modal.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added handling user info modal via route [#173468302]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added handling password recovery modal via route [#173468302]
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored change server seed modal [#173468302]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added closing sign-in and sign-up modal after successful submit [#173468302]
  src/components/BetDetailsModal/BetDetailsModal.test.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.test.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.test.tsx
  src/components/ChangeServerSeedConfirmationModal/__snapshots__/ChangeServerSeedConfirmationModal.test.tsx.snap
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.test.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Improved auth overlay component [#173468302]
  src/components/AuthOverlay/AuthOverlay.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added preventing signed-in users to open auth modals [#173468302]
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added translations [#173468302]
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordRecoveryModal/__snapshots__/PasswordRecoveryModal.test.tsx.snap
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added german translations [#173468302]
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write

Added redirect when opening password reset without token [#173468302]
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added saving accessToken only to localeStorage if rememberMe is checked [#173874220]
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/SignInModal/SignInModal.tsx
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added saving accessToken only in memory [#173874220]
  src/common/util/storage.util.ts
  src/components/App/App.test.tsx
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/AuthOverlay/__snapshots__/AuthOverlay.test.tsx.snap
  src/graphql/client.ts
  src/graphql/mutations.ts
  src/hooks/useApolloClient.hook.ts
  src/hooks/useEffectOnce.hook.ts
  src/state/index.tsx
  src/state/models/auth.model.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed sign-out loop [#173874220]
  src/components/AuthOverlay/AuthOverlay.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed not displaying activation dialog after sign-up
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added sign-in button to my bets tab when user is not signed in [#173468976]
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
  src/components/MyBetsTable/MyBetsTable.module.scss
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added component for saving ref and redirecting to current path [#173660819]
  src/common/util/storage.util.ts
  src/components/App/App.tsx
  src/components/Referrals/Referrals.test.tsx
  src/components/Referrals/Referrals.tsx
  src/components/Referrals/__snapshots__/Referrals.test.tsx.snap
  src/components/Referrals/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed showing loading spinner and sign-in button [#173468976]
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added transmitting ref id on sign-up [#173660819]
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/Referrals/Referrals.test.tsx
  src/components/Referrals/Referrals.tsx
  src/components/Referrals/__snapshots__/Referrals.test.tsx.snap
  src/components/SignUpModal/SignUpModal.tsx
  src/graphql/mutations.ts
  src/state/actions/index.ts
  src/state/actions/referral.action.ts
  src/state/index.tsx
  src/state/models/index.ts
  src/state/models/referral.model.ts
  src/state/reducers/index.ts
  src/state/reducers/referral.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed not showing modals via url
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added new ssl certificate [#173874220]
  serverless.yml
Due: none

Fixed missing alias from cloudfront definition
  serverless.yml
Due: none
