Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added resetting game state after sign-out [#175969736]
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Bumped version to 0.7.5
  package.json
Due: prettier --write

Fixed #175988328: Dice Game: Sign-out does not reset bet amount field
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed #175988317: Dice Game: Profit calculations do not consider bet amount
  src/common/util/betCalc.util.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed #175989004: Dice Game: Diamond is off scale
  src/components/icons/DiceResultScale/DiceResultScale.module.scss
  src/pages/GamesPage/components/DiceGame/__snapshots__/DiceGame.test.tsx.snap
Due: prettier --write, stylelint

Fixed #175992661: Dice Game: Profit is not calculated on max bet amount
  src/components/BetAmountControl/BetAmountControl.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Bumped version to 0.7.6
  package.json
Due: prettier --write

test task
  src/assets/images/games/clams/clam-noselect.svg
  src/assets/images/games/clams/clam-sharks.svg
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/CashierModal/CashierModal.module.scss
  src/components/CashierModal/CashierModal.tsx
  src/components/ClamGameBoard/ClamGameBoard.module.scss
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/ClamGameBoard/index.ts
  src/components/WithdrawAmountControl/WithdrawAmountControl.module.scss
  src/components/WithdrawAmountControl/WithdrawAmountControl.tsx
  src/components/WithdrawAmountControl/index.ts
  src/components/icons/games/ClamNoSelect/ClamNoSelect.module.scss
  src/components/icons/games/ClamNoSelect/ClamNoSelect.tsx
  src/components/icons/games/ClamNoSelect/index.ts
  src/components/icons/games/ClamSharks/ClamSharks.module.scss
  src/components/icons/games/ClamSharks/ClamSharks.tsx
  src/components/icons/games/ClamSharks/index.ts
  src/graphql/mutations.ts
  src/i18n/locales/games/en.json
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

update
  package-lock.json
  src/components/CashierModal/CashierModal.tsx
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/WithdrawAmountControl/WithdrawAmountControl.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

test no
  .github/workflows/main.yml
Due: none

test yes
  .github/workflows/main.yml
Due: none

clamboard update
  src/components/ClamGameBoard/ClamGameBoard.module.scss
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/icons/games/ClamSelected/ClamSelected.module.scss
  src/components/icons/games/ClamSelected/ClamSelected.tsx
  src/components/icons/games/ClamSelected/index.ts
  src/graphql/queries.ts
  src/i18n/locales/games/de.json
  src/i18n/locales/games/en.json
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

update clamgameboard
  src/components/ClamGameBoard/ClamGameBoard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update clamgameboard
  src/components/CashierModal/CashierModal.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update clamgameboard
  src/components/CashierModal/CashierModal.test.tsx
  src/components/CashierModal/__snapshots__/CashierModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add cashiermodaltest
  src/components/CashierModal/CashierModal.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

selectedclams
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/graphql/mutations.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

calc profit for clamsGame
  src/common/config/index.ts
  src/i18n/locales/games/de.json
  src/i18n/locales/games/en.json
  src/models/clamsGameState.model.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update reducer
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

able to play with clamsGame
  .vscode/settings.json
  src/components/ClamGameBoard/ClamGameBoard.module.scss
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/icons/games/ClamLost/ClamLost.module.scss
  src/components/icons/games/ClamLost/ClamLost.tsx
  src/components/icons/games/ClamLost/index.ts
  src/components/icons/games/ClamWon/ClamWon.module.scss
  src/components/icons/games/ClamWon/ClamWon.tsx
  src/components/icons/games/ClamWon/index.ts
  src/models/clamsGameState.model.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

finish clamsgame
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

finish clamsGame
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

responsive design
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
Due: prettier --write, stylelint

add clamGame test
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.test.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add clamGame test
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.stories.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.test.tsx
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
  src/pages/GamesPage/components/ClamGame/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

change clam assets
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/icons/games/ClamIdle/ClamIdle.module.scss
  src/components/icons/games/ClamIdle/ClamIdle.tsx
  src/components/icons/games/ClamIdle/index.ts
  src/components/icons/games/ClamLost/ClamLost.module.scss
  src/components/icons/games/ClamLost/ClamLost.tsx
  src/components/icons/games/ClamNoSelect/ClamNoSelect.tsx
  src/components/icons/games/ClamNoSelect/index.ts
  src/components/icons/games/ClamPearl/ClamPearl.module.scss
  src/components/icons/games/ClamPearl/ClamPearl.tsx
  src/components/icons/games/ClamPearl/index.ts
  src/components/icons/games/ClamSelected/ClamSelected.module.scss
  src/components/icons/games/ClamWin/ClamWin.module.scss
  src/components/icons/games/ClamWin/ClamWin.tsx
  src/components/icons/games/ClamWin/index.ts
  src/components/icons/games/ClamWon/ClamWon.tsx
  src/components/icons/games/ClamWon/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

change clam assets
  src/components/ClamGameBoard/ClamGameBoard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

On each new game the bet amount should not be reset
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix feedbacks
  src/i18n/locales/games/en.json
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add clamGame test
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
Due: none

add ;
  src/components/icons/games/ClamPearl/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

format all files
  src/components/icons/games/ClamIdle/ClamIdle.module.scss
  src/components/icons/games/ClamLost/ClamLost.module.scss
  src/components/icons/games/ClamPearl/ClamPearl.module.scss
  src/components/icons/games/ClamPearl/index.ts
  src/components/icons/games/ClamSelected/ClamSelected.module.scss
  src/components/icons/games/ClamWin/ClamWin.module.scss
  src/i18n/locales/games/de.json
  src/i18n/locales/games/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

remove console.log
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix toast autoclose duration to 1000ms
  src/common/config/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

proper error handling
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix feedbacks
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix test
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
Due: none

fix error messge positions
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix message position
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix profit position
  src/pages/GamesPage/components/ClamGame/ClamGame.module.scss
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
