Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

fix effect errors
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix profitcut modal
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix advances
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix advances
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix advances
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
Due: prettier --write, stylelint

Balls to disappear after loss OR Take Money
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Win result is not displayed after each level
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

reset probability
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

MIDDLE level GoalKeeper jump
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Cells in the table are slightly moved
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
Due: prettier --write, stylelint

Game level progress table
  src/components/GoalGameAdvances/GoalGameAdvances.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix bet result
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/DetailList/DetailList.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix errorBet message
  src/components/ProfitCutModal/ProfitCutModal.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix advances table
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix max_profit error message
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

change button label
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/styles/game-general.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

update button label
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

responsive design
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

update bet results page
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/DetailList/DetailList.module.scss
Due: prettier --write, stylelint

fix message, probabilities
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Max profit error message
  src/i18n/locales/modals/en.json
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Max profit error message
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Take money button right after successfull result
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Sometimes app is crashing when coming from clams
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix advances
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix responsive design
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

not reset the bet amount
  src/pages/GamesPage/components/GoalGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix responsive
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/styles/game-general.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix issue
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

User is able to click outside of ball edges
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/icons/games/GoalBall/GoalBallIdle.module.scss
  src/components/icons/games/GoalBall/GoalBallIdle.tsx
  src/components/icons/games/GoalBall/GoalBallLost.module.scss
  src/components/icons/games/GoalBall/GoalBallLost.tsx
  src/components/icons/games/GoalBall/GoalBallWon.module.scss
  src/components/icons/games/GoalBall/GoalBallWon.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

faucet modal
  src/assets/images/footer/mobile-hamburger-menu.svg
  src/components/FaucetModal/FaucetModal.module.scss
  src/components/FaucetModal/FaucetModal.tsx
  src/components/FaucetModal/index.ts
  src/components/GoalGameAdvances/GoalGameAdvances.module.scss
  src/components/Layout/components/BottomBar/components/Menu/Menu.module.scss
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/icons/Book/Book.module.scss
  src/components/icons/Book/Book.tsx
  src/components/icons/Book/index.ts
  src/components/icons/Faucet/Faucet.module.scss
  src/components/icons/Faucet/Faucet.tsx
  src/components/icons/Faucet/FaucetModal.module.scss
  src/components/icons/Faucet/FaucetModal.tsx
  src/components/icons/Faucet/index.ts
  src/components/icons/Hamburger/Hamburger.module.scss
  src/components/icons/Hamburger/Hamburger.tsx
  src/components/icons/Hamburger/index.ts
  src/components/icons/VerifyLast/VerifyLast.module.scss
  src/components/icons/VerifyLast/VerifyLast.tsx
  src/components/icons/VerifyLast/index.ts
  src/components/icons/games/GoalBall/GoalBallIdle.module.scss
  src/components/icons/games/GoalBall/GoalBallLost.module.scss
  src/components/icons/games/GoalBall/GoalBallWon.module.scss
  src/graphql/mutations.ts
  src/graphql/possibleTypes.json
  src/graphql/queries.ts
  src/i18n/locales/modals/en.json
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

faucet modal
  src/components/FaucetModal/FaucetModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix bottom menu
  src/components/FaucetModal/FaucetModal.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix bottom menu
  src/components/Layout/components/BottomBar/components/Menu/Menu.module.scss
Due: prettier --write, stylelint

fix bottom menu
  src/components/FaucetModal/FaucetModal.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix bottom menu
  src/components/FaucetModal/FaucetModal.module.scss
Due: prettier --write, stylelint
