Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Simplefied replace modal logic [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/Modal/index.ts
  src/components/Modal/lib/util.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added deciding when to show locked and unlocked server seed details [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/LockedServerSeedDetails/LockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/LockedServerSeedDetails/LockedServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/LockedServerSeedDetails/index.ts
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/OwnServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added infos to unlocked server seed page and added basic styling [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/OwnServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/index.ts
  src/components/CopyField/CopyField.tsx
  src/components/CopyField/__snapshots__/CopyField.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added verfication link [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.tsx
  src/components/Link/Link.module.scss
  src/components/Link/Link.stories.tsx
  src/components/Link/Link.test.tsx
  src/components/Link/Link.tsx
  src/components/Link/__snapshots__/Link.test.tsx.snap
  src/components/Link/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added result values to server seed page [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.tsx
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved unlocked page [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.tsx
  src/components/Link/Link.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed copy field not being centered [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/OtherServerSeedDetails.module.scss
Due: prettier --write, stylelint

Fixed headline font-weight [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.module.scss
Due: prettier --write, stylelint

Added translations [#172519380]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/OtherServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/LockedServerSeedDetails/LockedServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.tsx
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed height on loading state [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Increased container width to display results in a row on desktop [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
Due: prettier --write, stylelint

Added switching colors to slider [#173397694]
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.stories.tsx
  src/components/Slider/Slider.tsx
  src/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/components/Slider/components/Track/Track.module.scss
  src/components/Slider/components/Track/Track.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added roll over and under to dice game board [#173397694]
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.stories.tsx
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showing differentiating roll over and under on dice bet results [#173397694]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/DiceBetResults.tsx
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed unit test [#173397694]
  src/components/DiceGameBoard/DiceGameBoard.test.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Removed Apollo HttpLink as everything is handled via WebSocketLink now
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed scroll bug on mobile [#172519380]
  src/hooks/useScrollLock.hook.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Decreased results width to fit 5th column [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/components/UnlockedServerSeedDetails/UnlockedServerSeedDetails.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Activated Reduced Motion for LatestBetsTable
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed LatestBetsTable rows are not clickable in Reduced Motion mode
  src/components/LatestBetsTable/LatestBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added changing cursor to default when slider is disabled [#173397694]
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
  src/components/Slider/Slider.module.scss
  src/components/Slider/Slider.tsx
  src/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/components/Slider/components/Handle/Handle.module.scss
  src/components/Slider/components/Handle/Handle.tsx
  src/components/Slider/components/Track/Track.module.scss
  src/components/Slider/components/Track/Track.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Showing User Info on clicking in Latest Bet Username
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added copy-to-clipboard package for copying values [#173513061]
  package.json
  src/components/CopyField/CopyField.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

ci
  .github/workflows/ci-cd.yml
  appspec.yml
Due: none

backend url from env
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

disabled few tests and added backend uri as env
  .gitignore
  README.md
  src/components/App/App.test.tsx
  src/components/Footer/Footer.test.tsx
  src/components/Layout/Layout.test.tsx
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

removed circle
  .circleci/config.yml
Due: none

initial version
  .github/workflows/main.yml
Due: none

node setup v1
  .github/workflows/main.yml
Due: none

trying to get away without creating .env file
  .github/workflows/main.yml
Due: none

testing how github reacts to date format
  src/components/App/App.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

revert, can't push
  src/components/App/App.test.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

aa
  .github/workflows/main.yml
  scripts/cleanup.sh
  scripts/reload_pm2.sh
  scripts/stop_pm2.sh
  scripts/validate_service.sh
Due: none

s3
  .github/workflows/main.yml
Due: none

aws
  .github/workflows/main.yml
Due: none

both
  .github/workflows/main.yml
Due: none

test
  .github/workflows/main.yml
Due: none

all
  .github/workflows/main.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
