Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

fix bottom menu
  src/components/FaucetModal/FaucetModal.module.scss
Due: prettier --write, stylelint

fix bottom menu
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Delete package-lock.json
  package-lock.json
Due: prettier --write

Delete swiper+6.3.4.patch
  patches/swiper+6.3.4.patch
Due: none

Create swiper+6.3.4.patch
  patches/swiper+6.3.4.patch
Due: none

Update README.md
  README.md
Due: prettier --write

update faucet errors
  src/components/FaucetModal/FaucetModal.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

gh off
  README.md
Due: prettier --write

gh off
  .github/workflows/main.yml
Due: none

fix
  README.md
Due: prettier --write

update modal
  src/components/FaucetModal/FaucetModal.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

test
  README.md
Due: prettier --write

cashier modal
  package.json
  src/components/CashierModal/CashierModal.module.scss
  src/components/CashierModal/CashierModal.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Rename main.yml to main.kkk
  .github/workflows/main.kkk
Due: none

cashiermodal
  src/components/CashierModal/CashierModal.module.scss
  src/components/CashierModal/CashierModal.tsx
  src/pages/TransactionsPage/TransactionsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

cashiermodal
  src/components/CashierModal/CashierModal.module.scss
  src/components/FaucetModal/FaucetModal.module.scss
Due: prettier --write, stylelint

add tests
  src/components/Layout/components/BottomBar/components/Menu/__snapshots__/Menu.test.tsx.snap
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
Due: none

menu component
  src/components/Layout/components/BottomBar/components/Menu/Menu.test.tsx
  src/components/Layout/components/BottomBar/components/Menu/__snapshots__/Menu.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add all tests
  src/components/Layout/components/BottomBar/BottomBar.test.tsx
  src/components/Layout/components/BottomBar/__snapshots__/BottomBar.test.tsx.snap
  src/components/Layout/components/BottomBar/components/Menu/Menu.test.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/pages/GamesPage/components/ClamGame/__snapshots__/ClamGame.test.tsx.snap
  src/pages/GamesPage/components/GoalGame/__snapshots__/GoalGame.test.tsx.snap
  src/pages/TransactionsPage/__snapshots__/TransactionsPage.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Make sure withdraw toasts are coming
  src/components/WithdrawalsTable/WithdrawalsTable.module.scss
  src/components/WithdrawalsTable/WithdrawalsTable.tsx
  src/components/WithdrawalsTable/index.ts
  src/graphql/queries.ts
  src/hooks/useRealtimeBalance.hook.ts
  src/i18n/locales/transactions/en.json
  src/models/transactionStatus.model.ts
  src/models/transactionsWithdraw.model.ts
  src/pages/TransactionsPage/TransactionsPage.tsx
  src/pages/TransactionsPage/components/Withdrawals/Withdrawals.module.scss
  src/pages/TransactionsPage/components/Withdrawals/Withdrawals.tsx
  src/pages/TransactionsPage/components/Withdrawals/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Make sure withdraw toasts are coming
  src/models/transactionStatus.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Make sure withdraw toasts are coming
  README.md
  src/components/Layout/components/BottomBar/BottomBar.test.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.test.tsx
  src/components/WithdrawalsTable/WithdrawalsTable.module.scss
  src/models/transactionsWithdraw.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

fix button color
  src/components/CashierModal/CashierModal.module.scss
Due: prettier --write, stylelint

balance toasts
  src/hooks/useRealtimeBalance.hook.ts
  src/i18n/locales/transactions/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

cashiermodal update
  src/components/CashierModal/CashierModal.module.scss
  src/components/CashierModal/CashierModal.tsx
  src/components/WithdrawAmountControl/WithdrawAmountControl.module.scss
  src/components/WithdrawAmountControl/WithdrawAmountControl.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

cashiermodal update
  src/components/CashierModal/CashierModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

cashiermodal update
  src/components/CashierModal/CashierModal.tsx
  src/pages/TransactionsPage/TransactionsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix cashiermodal
  src/components/CashierModal/CashierModal.tsx
  src/components/SlideSelect/SlideSelect.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

update cashier modal
  src/components/CashierModal/CashierModal.tsx
  src/components/WithdrawalsTable/WithdrawalsTable.module.scss
  src/components/WithdrawalsTable/WithdrawalsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

update
  src/components/WithdrawalsTable/WithdrawalsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

withdrawals table
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/lib/modalQueryParamMapping.ts
  src/components/Modal/Modal.tsx
  src/components/WithdrawalDetailsModal/WithdrawalDetailsModal.module.scss
  src/components/WithdrawalDetailsModal/WithdrawalDetailsModal.test.tsx
  src/components/WithdrawalDetailsModal/WithdrawalDetailsModal.tsx
  src/components/WithdrawalDetailsModal/__snapshots__/WithdrawalDetailsModal.test.tsx.snap
  src/components/WithdrawalDetailsModal/index.ts
  src/components/WithdrawalsTable/WithdrawalsTable.module.scss
  src/components/WithdrawalsTable/WithdrawalsTable.test.tsx
  src/components/WithdrawalsTable/WithdrawalsTable.tsx
  src/components/WithdrawalsTable/__snapshots__/WithdrawalsTable.test.tsx.snap
  src/components/icons/Warning/Warning.tsx
  src/i18n/locales/modals/en.json
  src/pages/TransactionsPage/components/Withdrawals/Withdrawals.test.tsx
  src/pages/TransactionsPage/components/Withdrawals/Withdrawals.tsx
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Mine Game
  package-lock.json
  src/assets/images/games/mines/bitcoin-icon.svg
  src/assets/images/games/mines/mines-bomb.svg
  src/assets/images/games/mines/mines-char.svg
  src/assets/images/games/mines/mines-tnt.svg
  src/common/config/index.ts
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/Button/Button.module.scss
  src/components/MineGameBoard/MineGameBoard.module.scss
  src/components/MineGameBoard/MineGameBoard.tsx
  src/components/MineGameBoard/index.ts
  src/components/Modal/Modal.tsx
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
  src/pages/GamesPage/components/MineGame/MineGame.stories.tsx
  src/pages/GamesPage/components/MineGame/MineGame.test.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/GamesPage/components/MineGame/__snapshots__/MineGame.test.tsx.snap
  src/pages/GamesPage/components/MineGame/index.ts
  src/pages/GamesPage/components/MineGame/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Delete .github directory
  .github/dependabot.yml
  .github/workflows/ci-cd.yml.bak
  .github/workflows/main.kkk
Due: none

aa
  README.md
Due: prettier --write

test env
  README.md
Due: prettier --write
