Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

FIXED: CheckboxInput Tick off not removed completely on Firefox 78.0.2 (64-Bit)/Windows
  src/components/CheckboxInput/CheckboxInput.module.scss
Due: prettier --write, stylelint

Added Hide/Show reCAPTCHA badge
  package.json
  src/components/SignUpModal/SignUpModal.tsx
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/styles/_general.scss
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added Resetting forms after closing
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added code input component [#173468301]
  package.json
  src/components/CodeInput/CodeInput.module.scss
  src/components/CodeInput/CodeInput.stories.tsx
  src/components/CodeInput/CodeInput.test.tsx
  src/components/CodeInput/CodeInput.tsx
  src/components/CodeInput/__snapshots__/CodeInput.test.tsx.snap
  src/components/CodeInput/index.ts
  src/react-app-env.d.ts
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added complete callback and disabled prop [#173468301]
  src/components/CodeInput/CodeInput.stories.tsx
  src/components/CodeInput/CodeInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added component for account activation modal [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.stories.tsx
  src/components/AccountActivationModal/AccountActivationModal.test.tsx
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/AccountActivationModal/__snapshots__/AccountActivationModal.test.tsx.snap
  src/components/AccountActivationModal/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added highlighting focused input [#173468301]
  src/components/AccountActivationModal/__snapshots__/AccountActivationModal.test.tsx.snap
  src/components/CodeInput/CodeInput.module.scss
  src/components/CodeInput/CodeInput.test.tsx
  src/components/CodeInput/__snapshots__/CodeInput.test.tsx.snap
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Updated GenericError model
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignUpModal/SignUpModal.stories.tsx
  src/models/genericError.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added initial Error message handling
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/components/SignInModal/SignInModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added styling for mobile [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added styling for desktop [#173468301]
  src/assets/images/auth/safe-locker.svg
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/CodeInput/CodeInput.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added rendering account activation modal [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/Layout/Layout.tsx
  src/graphql/mutations.ts
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added activating account via acount activation modal [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/CodeInput/CodeInput.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/Toast/components/ToastContainer/ToastContainer.tsx
  src/models/user.model.ts
  src/state/actions/auth.action.ts
  src/state/reducers/auth.reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added callback for resending email [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed storybook styling race condition [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Improved spacings [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Prepared for displaying activation errors [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.stories.tsx
  src/components/AccountActivationModal/AccountActivationModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added ErrorUtil with ApplicationError
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/i18n/locales/common/en.json
  src/models/applicationError.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored ValidationSchema
  src/components/SignInModal/SignInModal.tsx
  src/components/SignInModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored ErrorSummary to accept ApplicationErrors
  src/components/ErrorSummary/ErrorSummary.test.tsx
  src/components/ErrorSummary/ErrorSummary.tsx
  src/components/ErrorSummary/__snapshots__/ErrorSummary.test.tsx.snap
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added multiple errors listing to ErrorSummary
  src/components/ErrorSummary/ErrorSummary.module.scss
  src/components/ErrorSummary/ErrorSummary.stories.tsx
  src/components/ErrorSummary/ErrorSummary.test.tsx
  src/components/ErrorSummary/ErrorSummary.tsx
  src/components/ErrorSummary/__snapshots__/ErrorSummary.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed Stories by using ApplicationError
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/components/SignInModal/SignInModal.stories.tsx
  src/components/SignUpModal/SignUpModal.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

SingUp and SignIn now show all errors in summary
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added localizedMessage to ApplicationError
  src/common/util/error.util.ts
  src/components/ErrorSummary/ErrorSummary.test.tsx
  src/components/ErrorSummary/ErrorSummary.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
  src/models/applicationError.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showBorder to ErrorSummary
  src/components/ErrorSummary/ErrorSummary.module.scss
  src/components/ErrorSummary/ErrorSummary.stories.tsx
  src/components/ErrorSummary/ErrorSummary.test.tsx
  src/components/ErrorSummary/ErrorSummary.tsx
  src/components/ErrorSummary/__snapshots__/ErrorSummary.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added resending activation code [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showing api errors [#173468301]
  src/common/util/error.util.ts
  src/components/AccountActivationModal/AccountActivationModal.module.scss
  src/components/AccountActivationModal/AccountActivationModal.stories.tsx
  src/components/AccountActivationModal/AccountActivationModal.test.tsx
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/AccountActivationModal/__snapshots__/AccountActivationModal.test.tsx.snap
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added original error messages, provided by Suren
  docs/errorMessages.json
Due: prettier --write

Fixed showing error summery after closing the modal [#173850941]
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added translation for already activated error [#173468301]
  src/common/util/error.util.ts
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added translations for account activation modal [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored rendering modals [#173850941]
  src/components/Layout/Layout.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/Layout/components/Modals/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed translations [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added clearing code input [#173468301]
  src/components/AccountActivationModal/AccountActivationModal.stories.tsx
  src/components/AccountActivationModal/AccountActivationModal.tsx
  src/components/CodeInput/CodeInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed not displaying code input on safari mobile [#173468301]
  src/components/CodeInput/CodeInput.module.scss
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed warning [#173468301]
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Optimized error keys
  docs/errorMessages_optimized.json
Due: prettier --write

Added namespace specific errors
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added color and verbose settings to test:single
  package.json
Due: prettier --write

Displaying API error message, if error code is unknown
  src/common/util/error.util.test.ts
  src/common/util/error.util.ts
  src/components/ErrorSummary/ErrorSummary.test.tsx
  src/components/ErrorSummary/__snapshots__/ErrorSummary.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix
