Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Setup dice bet result component to accept result data as props [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added character to bet results [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.module.scss
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed inverting icons in latest bets [#173222485]
  src/components/GameIcon/GameIcon.tsx
  src/components/GameIcon/__snapshots__/GameIcon.test.tsx.snap
  src/components/GameIconAndText/GameIconAndText.module.scss
  src/components/GameIconAndText/GameIconAndText.tsx
  src/components/GameIconAndText/__snapshots__/GameIconAndText.test.tsx.snap
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/icons/games/Clams/Clams.module.scss
  src/components/icons/games/Clams/Clams.tsx
  src/components/icons/games/Dice/Dice.module.scss
  src/components/icons/games/Dice/Dice.tsx
  src/components/icons/games/Goals/Goals.module.scss
  src/components/icons/games/Goals/Goals.tsx
  src/components/icons/games/Mines/Mines.module.scss
  src/components/icons/games/Mines/Mines.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed build [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/components/DiceGameBoard/__snapshots__/DiceGameBoard.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added resetting pageable modal on close [#172518860]
  src/components/PageableModal/lib/reducer.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Adapted columns on Breakpoint
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.module.scss
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Converted example story to Component Story Format (CSF)
  src/components/LatestBetsTable/LatestBetsTable.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Reversed colors of slider [#172518860]
  src/components/Slider/Slider.module.scss
  src/components/Slider/components/Track/Track.module.scss
Due: prettier --write, stylelint

Added rendering bet results base on game type [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored data fetching of bet result modal page [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.stories.tsx
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/BetDetailsModal/index.ts
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added fetching bet results [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/__snapshots__/BetDetailsModal.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/__snapshots__/BetResultsPage.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/DiceGameBoard/DiceGameBoard.tsx
  src/graphql/queries.ts
  src/models/betDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added overwriting css class on modal [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved storybook stories [#172518860]
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/DetailList/DetailList.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Removed bet details modal stories [#172518860]
  src/components/BetDetailsModal/BetDetailsModal.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added bottom spacing to dice bet results [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
Due: prettier --write, stylelint

Fixed modal height [#172518860]
  src/components/Modal/Modal.tsx
  src/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added extending css class on loading and error component [#172518860]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/Error/Error.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
  src/components/LeaderboardTable/__snapshots__/LeaderboardTable.test.tsx.snap
  src/components/Loading/Loading.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Adding formatting date strings by browser language settings [#173307677]
  src/common/util/date.util.test.ts
  src/common/util/date.util.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Renamed dice bet results component [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/DiceBetResults.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/DiceBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/DiceBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/__snapshots__/DiceBetResults.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/DiceBetResults/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added placholder component for mines bet results [#72518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/BetResultsDice/DiceBetResults.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/__snapshots__/MinesBetResults.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/index.ts
  src/models/betDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added evaluating and displaying mines result data [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/__snapshots__/MinesBetResults.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added custom story per game to reduce knobs overload [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added styles and images for mines results [#172518862]
  src/assets/images/games/mines/mines-bitcoin.svg
  src/assets/images/games/mines/mines-boom.svg
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/__snapshots__/MinesBetResults.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed column order for Latest Bets
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added sliders to improve knobs usage [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added placholder component for goals results [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/__snapshots__/GoalsBetResults.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/index.ts
  src/models/betDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added displaying goals result [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/__snapshots__/GoalsBetResults.test.tsx.snap
  src/models/betDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added translations [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Improved mines styling [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
Due: prettier --write, stylelint

Added centering results [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
Due: prettier --write, stylelint

Fixed illustration width on sm breakpoint [#172518860]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
Due: prettier --write, stylelint

Fixed unnecessary padding on md breakpoint [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
Due: prettier --write, stylelint

Increased expolosion icon size [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
Due: prettier --write, stylelint

Reduced cash icon size [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
Due: prettier --write, stylelint

Added showing n/a for empty values [#172518862]
  src/common/util/format.util.ts
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added always showing 25 fields [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showing mines as 5x5 in all breakpoints [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added positioning mines board centered [#172518862]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
Due: prettier --write, stylelint

Improved loading screen height [#172518862]
  src/common/util/format.util.ts
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed resetting pageable modal to first page on windows resize [#173357461]
  src/components/BetDetailsModal/BetDetailsModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,scss,json,md}
  eslint '*/**/*.{js,ts,tsx}' --fix: any of: *.{ts,tsx}
  stylelint: any of: *.scss
