Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

Minor changes
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing dice game slider sound
  src/components/Slider/Slider.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing dice game slider sound
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Adding mine game selection sound
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing some changes
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

removed gap
  src/sounds/dice-hit-v1.mp3
Due: none

no-pond5
  src/sounds/balance-updated-v1.mp3
  src/sounds/bonus-claim-v1.mp3
  src/sounds/bonus-claim-v1.wav
  src/sounds/bonus-received-v1.mp3
  src/sounds/bonus-received-v1.wav
  src/sounds/button-click-v1.mp3
  src/sounds/clams-lost-v1.mp3
  src/sounds/clams-select-v1.mp3
  src/sounds/clams-select-v1.wav
  src/sounds/clams-win-v1.mp3
  src/sounds/clams-win-v2.mp3
  src/sounds/clams-win-v3.mp3
  src/sounds/clams-win-v4.mp3
  src/sounds/countdown-v1.mp3
  src/sounds/countdown-v1.wav
  src/sounds/dice-hit-v1.mp3
  src/sounds/dice-hit-v2.mp3
  src/sounds/dice-hit-v3.mp3
  src/sounds/dice-lost-v1.mp3
  src/sounds/dice-slider-v1.mp3
  src/sounds/dice-slider-v2.mp3
  src/sounds/dice-win-v1.mp3
  src/sounds/goals-lost-v1.mp3
  src/sounds/goals-select-v1.mp3
  src/sounds/goals-select-v2.mp3
  src/sounds/goals-select-v3.mp3
  src/sounds/goals-win-v1.mp3
  src/sounds/goals-win-v2.mp3
  src/sounds/mines-lost-v1.mp3
  src/sounds/mines-win-v1.mp3
  src/sounds/toast-v1.mp3
  src/sounds/universal-lost-v1.mp3
Due: none

optimized
  src/sounds/balance-updated-v1.mp3
  src/sounds/bonus-claim-v1.mp3
  src/sounds/bonus-claim-v1.wav
  src/sounds/bonus-received-v1.mp3
  src/sounds/bonus-received-v1.wav
  src/sounds/button-click-v1.mp3
  src/sounds/clams-lost-v1.mp3
  src/sounds/clams-select-v1.mp3
  src/sounds/clams-select-v1.wav
  src/sounds/clams-win-v1.mp3
  src/sounds/countdown-v1.mp3
  src/sounds/countdown-v1.wav
  src/sounds/dice-hit-v1.mp3
  src/sounds/dice-lost-v1.mp3
  src/sounds/dice-slider-v1.mp3
  src/sounds/dice-win-v1.mp3
  src/sounds/goals-lost-v1.mp3
  src/sounds/goals-select-v1.mp3
  src/sounds/goals-win-v1.mp3
  src/sounds/mines-lost-v1.mp3
  src/sounds/mines-win-v1.mp3
  src/sounds/toast-v1.mp3
  src/sounds/unlock-seed-v1.mp3
Due: none

Fixing some sound effects
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/sounds/balance-updated-v1.mp3
  src/sounds/bonus-claim-v1.mp3
  src/sounds/bonus-received-v1.mp3
  src/sounds/button-click-v1.mp3
  src/sounds/clams-select-v1.mp3
  src/sounds/clams-win-v1.mp3
  src/sounds/clams-win-v2.mp3
  src/sounds/clams-win-v3.mp3
  src/sounds/clams-win-v4.mp3
  src/sounds/countdown-v1.mp3
  src/sounds/dice-hit-v1.mp3
  src/sounds/dice-hit-v2.mp3
  src/sounds/dice-hit-v3.mp3
  src/sounds/dice-slider-v1.mp3
  src/sounds/dice-slider-v2.mp3
  src/sounds/dice-win-v1.mp3
  src/sounds/goals-select-v1.mp3
  src/sounds/goals-select-v2.mp3
  src/sounds/goals-select-v3.mp3
  src/sounds/goals-win-v1.mp3
  src/sounds/goals-win-v2.mp3
  src/sounds/mines-lost-v1.mp3
  src/sounds/mines-win-v1.mp3
  src/sounds/toast-v1.mp3
  src/sounds/universal-lost-v1.mp3
  src/sounds/unlock-seed-v1.mp3
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Adding 3 lost sound files
  src/sounds/clams-lost-v1.mp3
  src/sounds/dice-lost-v1.mp3
  src/sounds/goals-lost-v1.mp3
Due: none

volume down
  src/sounds/clams-select-v1.mp3
Due: none

vol
  src/sounds/clams-select-v1.mp3
Due: none

bubb
  src/sounds/clams-select-v1.mp3
Due: none

Implementing pre-loading of sound && removing the volume setting
  src/components/App/App.tsx
  src/components/ClamGameBoard/ClamGameBoard.tsx
  src/components/MineGameBoard/MineGameBoard.tsx
  src/components/Slider/Slider.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Changes sound effects of goal game and dice game
  src/components/App/App.tsx
  src/components/Slider/Slider.tsx
  src/components/Toast/Toast.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

goalkeeper extra movement fixed
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

goalkeeper extra movement fixed
  src/components/GoalGameBoard/GoalGameBoard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Responsiveness of bonus page
  src/i18n/locales/bonuses/de.json
  src/i18n/locales/bonuses/en.json
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.module.scss
Due: prettier --write, stylelint

Push again
  src/components/BonusDetailsModal/BonusDetailsModal.module.scss
  src/i18n/index.ts
  src/i18n/locales/bonuses/de.json
  src/i18n/locales/bonuses/en.json
  src/pages/BonusesPage/BonusesPage.module.scss
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.module.scss
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.module.scss
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Minor changes
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/graphql/queries.ts
  src/pages/BonusesPage/BonusesPage.module.scss
  src/pages/BonusesPage/BonusesPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Completing leaderboard block, on leaderboard table fixing css style of user info modal and bonus amount updated results
  src/components/UserStatistics/UserStatistics.module.scss
  src/components/UserStatistics/UserStatistics.tsx
  src/i18n/locales/bonuses/en.json
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.module.scss
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
  src/pages/BonusesPage/components/UnClaimedBonuses/UnClaimedBonuses.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Minor changes for leaderboard page
  src/graphql/subscriptions.ts
  src/pages/BonusesPage/BonusesPage.tsx
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

fix firstPart of ms10 exception auth issue
  src/components/BetControl/BetControl.module.scss
  src/components/BetControl/BetControl.tsx
  src/components/BetControl/lib/util.ts
  src/components/Layout/components/BottomBar/components/Balance/Balance.module.scss
  src/components/Layout/components/BottomBar/components/Balance/Balance.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.module.scss
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/components/PasswordInput/PasswordInput.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.module.scss
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/styles/bootstrap/_variables.overrides.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Minor changes for mine game
  src/components/BonusDetailsModal/BonusDetailsModal.test.tsx
  src/components/BonusesTable/BonusesTable.tsx
  src/i18n/locales/transactions/en.json
  src/pages/GamesPage/components/MineGame/MineGame.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

second part of ms10 fixed
  src/components/AuthOverlay/AuthOverlay.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/components/Menu/Menu.tsx
  src/hooks/useApolloClient.hook.ts
  src/i18n/locales/affiliates/de.json
  src/i18n/locales/affiliates/en.json
  src/pages/AffiliatesPage/AffiliatesPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Minor change of Bonus page && in processing on
  src/hooks/useRealtimeBonusNotification.hook.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor changes of Bonus page && in processing on for bonus notification
  package.json
  src/components/Layout/Layout.tsx
  src/hooks/useRealtimeBonusNotification.hook.ts
  src/i18n/locales/transactions/en.json
  src/pages/BonusesPage/BonusesPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

add onError & retryLink to apolloClient
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Completing the current milestone
  src/components/App/App.tsx
  src/hooks/useRealtimeBonusNotification.hook.ts
  src/i18n/locales/bonuses/en.json
  src/i18n/locales/transactions/en.json
  src/pages/BonusesPage/components/Leaderboard/Leaderboard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

third part of ms10 fixed
  .env
  .env.dev
  .env.staging
  src/common/config/index.ts
  src/components/App/App.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/ChangeServerSeed/ChangeServerSeed.module.scss
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
  src/components/ChangeServerSeed/components/ActiveGame/ActiveGame.module.scss
  src/components/ChangeServerSeed/components/ActiveGame/ActiveGame.tsx
  src/components/ChangeServerSeed/components/index.ts
  src/components/ChangeServerSeed/index.ts
  src/components/UserMenu/UserMenu.tsx
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/i18n/index.ts
  src/i18n/locales/seeds/de.json
  src/i18n/locales/seeds/en.json
  src/models/serverSeedMe.ts
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/SeedPage/SeedPage.tsx
  src/pages/SeedPage/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

change server seed button validation fixed
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

put clientseed from seeds object
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixing minor bugs of mine game
  package.json
  src/components/MineGameBoard/MineGameBoard.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

ChangeServerSeed mutation query fixed
  src/components/ChangeServerSeed/ChangeServerSeed.tsx
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Minor chagnge for mine game
  src/components/MineGameBoard/MineGameBoard.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

third party of ms10 fixed
  .env
  .env.dev
  .env.staging
  src/assets/images/errors/error-not-found.svg
  src/assets/images/errors/error-server.svg
  src/common/config/index.ts
  src/components/App/App.tsx
  src/components/BetAmountControl/BetAmountControl.tsx
  src/components/BetControl/BetControl.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/CashierModal/CashierModal.tsx
  src/components/GoalGameBoard/GoalGameBoard.module.scss
  src/components/GoalGameBoard/GoalGameBoard.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Toast/lib/toast.tsx
  src/components/icons/games/GoalKeeper/GoalKeeper.module.scss
  src/i18n/index.ts
  src/i18n/locales/error/de.json
  src/i18n/locales/error/en.json
  src/pages/GamesPage/GamesPage.tsx
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
  src/pages/GamesPage/components/ClamGame/lib/reducer.ts
  src/pages/GamesPage/components/DiceGame/DiceGame.tsx
  src/pages/GamesPage/components/DiceGame/lib/reducer.ts
  src/pages/GamesPage/components/GoalGame/GoalGame.module.scss
  src/pages/GamesPage/components/GoalGame/GoalGame.tsx
  src/pages/GamesPage/components/MineGame/MineGame.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/Page404/Page404.module.scss
  src/pages/Page404/Page404.tsx
  src/pages/Page404/index.ts
  src/pages/Page500/Page500.module.scss
  src/pages/Page500/Page500.tsx
  src/pages/Page500/index.ts
  src/pages/TransactionsPage/components/Withdrawals/Withdrawals.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

clamgame board on mobile fixed
  src/pages/GamesPage/components/ClamGame/ClamGame.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

err
  default.conf
Due: none

loc
  default.conf
Due: none

intercept
  default.conf
Due: none
