Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["tslint --fix"],
  "*.scss": ["stylelint"]
}

Connected My Bets to Latest Bets
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.module.scss
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
Due: prettier --write, tslint --fix, stylelint

Renamed BetTable to LatestBetsTable
  src/components/BetTable/BetTable.scss
  src/components/BetTable/index.ts
  src/components/LatestBetsTable/LatestBetsTable.module.scss
  src/components/LatestBetsTable/LatestBetsTable.stories.tsx
  src/components/LatestBetsTable/LatestBetsTable.test.tsx
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.module.scss
  src/components/LatestBetsTable/components/BetRow/BetRow.scss
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/LatestBetsTable/components/BetRow/index.ts
  src/components/LatestBetsTable/components/SpacerRow/SpacerRow.module.scss
  src/components/LatestBetsTable/components/SpacerRow/SpacerRow.tsx
  src/components/LatestBetsTable/components/SpacerRow/index.ts
  src/components/LatestBetsTable/index.ts
  src/components/LatestBetsTable/lib/betBuffer.test.ts
  src/components/LatestBetsTable/lib/betBuffer.ts
  src/components/LatestBetsTable/lib/useBetBuffer.hook.test.ts
  src/components/LatestBetsTable/lib/useBetBuffer.hook.ts
  src/components/LatestBetsTable/lib/useBetGenerator.hook.test.ts
  src/components/LatestBetsTable/lib/useBetGenerator.hook.ts
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Added separate MyBetsTable and shared hooks
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
  src/components/MyBetsTable/MyBetsTable.module.scss
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.test.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
  src/components/MyBetsTable/components/BetRow/BetRow.module.scss
  src/components/MyBetsTable/components/BetRow/BetRow.scss
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
  src/components/MyBetsTable/components/BetRow/index.ts
  src/components/MyBetsTable/components/SpacerRow/SpacerRow.module.scss
  src/components/MyBetsTable/components/SpacerRow/SpacerRow.tsx
  src/components/MyBetsTable/components/SpacerRow/index.ts
  src/components/MyBetsTable/index.ts
  src/hooks/betBuffer.test.ts
  src/hooks/betBuffer.ts
  src/hooks/useBetBuffer.hook.test.ts
  src/hooks/useBetBuffer.hook.ts
  src/hooks/useBetGenerator.hook.test.ts
  src/hooks/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix, stylelint

Ordered My Bets columns and refactored styles
  src/components/LatestBetsTable/components/BetRow/BetRow.scss
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
  src/components/MyBetsTable/components/BetRow/BetRow.module.scss
  src/components/MyBetsTable/components/BetRow/BetRow.scss
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added Counter for generated Bets on MyBetsTable story
  src/components/MyBetsTable/MyBetsTable.stories.tsx
Due: prettier --write, tslint --fix

Added highlighting of generated Bets for current user in story
  src/components/LatestBetsTable/LatestBetsTable.stories.tsx
  src/hooks/useBetGenerator.hook.ts
Due: prettier --write, tslint --fix

Moved LatestBets/MyBets state to Sidebar
  src/components/Layout/Layout.test.tsx
  src/components/Layout/components/Sidebar/SideBar.test.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/components/Layout/components/Sidebar/components/LatestBetsTab/__snapshots__/LatestBetsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
Due: prettier --write, tslint --fix

Updated unit tests
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.test.tsx
Due: prettier --write, tslint --fix

Fixed missing Icons on LatestBets initial load
  src/components/Layout/components/Sidebar/SideBar.tsx
Due: prettier --write, tslint --fix

Fixed unit tests
  src/components/Layout/Layout.test.tsx
  src/components/Layout/components/Sidebar/SideBar.test.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
Due: prettier --write, tslint --fix

Changed MyBet Time to show shortened format
  src/common/util/date.util.test.ts
  src/common/util/date.util.ts
  src/components/Layout/components/Sidebar/components/MyBetsTab/__snapshots__/MyBetsTab.test.tsx.snap
  src/components/MyBetsTable/MyBetsTable.tsx
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
Due: prettier --write, tslint --fix

Added short version of time format without seconds
  src/common/util/date.util.test.ts
  src/common/util/date.util.ts
  src/components/MyBetsTable/components/BetRow/BetRow.module.scss
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added localization to LatestBets and MyBets
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
  src/i18n/locales/sidebar/de.json
  src/i18n/locales/sidebar/en.json
Due: prettier --write, tslint --fix

Upgraded packages
  package.json
  yarn.lock
Due: prettier --write

Added new staging API endpoint
  src/graphql/client.ts
Due: prettier --write, tslint --fix

Updated GraphQL queries for Recent Bets
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/graphql/queries.ts
Due: prettier --write, tslint --fix

Configured CRA and Storybook to not longer open browser automatically
  package.json
Due: prettier --write

Unified to current CRA packages
  package.json
  public/index.html
  public/manifest.json
  yarn.lock
Due: prettier --write

Switched TSLint for ESLint and fixed errors
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  package.json
  src/common/util/format.util.ts
  src/components/Carousel/Carousel.tsx
  src/components/Footer/Footer.tsx
  src/components/GameIcon/GameIcon.tsx
  src/components/LanguageSelect/LanguageSelect.tsx
  src/components/LatestBetsTable/LatestBetsTable.stories.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/MyBetsTab/MyBetsTab.test.tsx
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
  src/components/icons/games/Clams/Clams.tsx
  src/components/icons/games/Dice/Dice.tsx
  src/components/icons/games/Goals/Goals.tsx
  src/components/icons/games/Mines/Mines.tsx
  src/hooks/useBetBuffer.hook.test.ts
  src/hooks/useScrollLock.hook.ts
  src/pages/home/components/Teaser/Teaser.tsx
  src/state/index.tsx
  tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

Added src/react-app-env.d.ts to .eslintignore
  .eslintignore
Due: none

Added field Multiplier to Bet type
  src/graphql/queries.ts
  src/hooks/useBetGenerator.hook.ts
  src/models/bet.ts
Due: prettier --write, tslint --fix

Added 'hidden' label to substitude privacy values
  src/components/UserInfoModal/UserInfoModal.module.scss
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/components/Username/Username.module.scss
  src/components/UserInfoModal/components/Username/Username.tsx
Due: prettier --write, tslint --fix, stylelint

Added translation of hidden label
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/components/Username/Username.tsx
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
Due: prettier --write, tslint --fix

Added 'hidden'-label for usernames in Leaderboards
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added scrolling and optional footer to modal [#72578715]
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/Modal.tsx
Due: prettier --write, tslint --fix, stylelint

Added placeholder for PageableModal Compoponent [#172578715]
  src/components/PageableModal/PageableModal.module.scss
  src/components/PageableModal/PageableModal.stories.tsx
  src/components/PageableModal/PageableModal.test.tsx
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/PageableModal/index.ts
Due: prettier --write, tslint --fix, stylelint

Added 'hidden'-label for Latest Bets
  src/components/LatestBetsTable/components/BetRow/BetRow.module.scss
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
Due: prettier --write, tslint --fix, stylelint

Added pagination with slide animation to pageable model component [#172578715]
  src/components/PageableModal/PageableModal.module.scss
  src/components/PageableModal/PageableModal.stories.tsx
  src/components/PageableModal/PageableModal.test.tsx
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/PageableModal/lib/reducer.ts
Due: prettier --write, tslint --fix, stylelint

Added switchtransistion again [#172578715]
  src/components/Modal/Modal.module.scss
  src/components/PageableModal/PageableModal.module.scss
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Added arrow buttons to footer [#172578715]
  src/components/Modal/Modal.module.scss
  src/components/PageableModal/PageableModal.module.scss
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/components/Footer/Footer.module.scss
  src/components/PageableModal/components/Footer/Footer.tsx
  src/components/PageableModal/components/Footer/index.ts
  src/components/PageableModal/components/NavButton/NavButton.module.scss
  src/components/PageableModal/components/NavButton/NavButton.tsx
  src/components/PageableModal/components/NavButton/index.ts
Due: prettier --write, tslint --fix, stylelint

Updated animation and added dots to footer [#172578715]
  src/components/PageableModal/PageableModal.module.scss
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/PageableModal/components/Dot/Dot.module.scss
  src/components/PageableModal/components/Dot/Dot.tsx
  src/components/PageableModal/components/Dot/index.ts
  src/components/PageableModal/components/Footer/Footer.tsx
Due: prettier --write, tslint --fix, stylelint

Added Lost Bets Row
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, tslint --fix

Added Multiplier field to onBetAdded subscription
  src/graphql/subscriptions.ts
Due: prettier --write, tslint --fix

Fixed exception on null values for formatBitcoin
  src/common/util/format.util.test.ts
  src/common/util/format.util.ts
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, tslint --fix

Fixed some warnings in tests
  src/common/util/format.util.ts
  src/components/Layout/Layout.test.tsx
  src/components/Layout/components/Sidebar/SideBar.test.tsx
Due: prettier --write, tslint --fix

Added navigation via dots and improved active page styling [#172578715]
  src/components/PageableModal/PageableModal.stories.tsx
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/components/PageableModal/components/Dot/Dot.module.scss
  src/components/PageableModal/components/Dot/Dot.tsx
  src/components/PageableModal/components/Footer/Footer.module.scss
  src/components/PageableModal/components/Footer/Footer.tsx
Due: prettier --write, tslint --fix, stylelint

Added check for pageCount [#172578715]
  src/components/PageableModal/lib/reducer.ts
Due: prettier --write, tslint --fix

Removed transition childfactory [#172578715]
  src/components/PageableModal/PageableModal.tsx
Due: prettier --write, tslint --fix

Refactored details list into separate component [#172518840]
  src/components/DetailList/DetailList.module.scss
  src/components/DetailList/DetailList.stories.tsx
  src/components/DetailList/DetailList.test.tsx
  src/components/DetailList/DetailList.tsx
  src/components/DetailList/__snapshots__/DetailList.test.tsx.snap
  src/components/DetailList/index.ts
  src/components/DetailList/lib/detail.ts
  src/components/UserInfoModal/UserInfoModal.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint
