Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

Improved spacings and positioning [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.module.scss
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint

Improved storybook bet results
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Increased modal height to avoid scrollbar [#172518906]
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint

Fixed not highlighting last played row [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/__snapshots__/GoalsBetResults.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Changed key value of result rows [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed modal height on safari mobile [#173377884]
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint

Fixed icon positioning on safari [#172518906]
  src/assets/images/games/goals/game-goals-icon.svg
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/__snapshots__/GoalsBetResults.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved key value of goals rows [#172518906]
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added acidentally deleted index numbers on goal results
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/GoalsBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/GoalsBetResults/__snapshots__/GoalsBetResults.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed padding on pageable modal arrows
  src/components/PageableModal/components/NavButton/NavButton.module.scss
Due: prettier --write, stylelint

Fixed modal header is smaller than footer on mobile
  src/components/Modal/Modal.module.scss
Due: prettier --write, stylelint

Added displaying clams results [#172519329]
  src/assets/images/games/clams/clam-res-idle.svg
  src/assets/images/games/clams/clam-res-lost.svg
  src/assets/images/games/clams/clam-res-win.svg
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/ClamsBetResults.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/ClamsBetResults.test.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/ClamsBetResults.tsx
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/__snapshots__/ClamsBetResults.test.tsx.snap
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/index.ts
  src/components/BetDetailsModal/components/BetResultsPage/components/MinesBetResults/MinesBetResults.module.scss
  src/i18n/locales/modals/de.json
  src/i18n/locales/modals/en.json
  src/models/betDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Switched API Endpoint
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added placeholder component for confirmation dialog [#172580515]
  src/components/ConfirmationModal/ConfirmationModal.module.scss
  src/components/ConfirmationModal/ConfirmationModal.stories.tsx
  src/components/ConfirmationModal/ConfirmationModal.test.tsx
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/ConfirmationModal/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added hollow button component [#172580515]
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Button/lib/size.ts
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/HollowButton/HollowButton.module.scss
  src/components/HollowButton/HollowButton.stories.tsx
  src/components/HollowButton/HollowButton.test.tsx
  src/components/HollowButton/HollowButton.tsx
  src/components/HollowButton/__snapshots__/HollowButton.test.tsx.snap
  src/components/HollowButton/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved styling on mobile [#172580515]
  src/components/ConfirmationModal/ConfirmationModal.module.scss
  src/components/ConfirmationModal/ConfirmationModal.stories.tsx
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/Modal/Modal.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved field size [#172519329]
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/ClamsBetResults.module.scss
Due: prettier --write, stylelint

Added desktop styling [#172580515]
  src/components/Button/Button.module.scss
  src/components/ConfirmationModal/ConfirmationModal.module.scss
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added component for confirmation dialog title [#172580515]
  src/components/ConfirmationModal/ConfirmationModal.tsx
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/ConfirmationModal/components/Title/Title.module.scss
  src/components/ConfirmationModal/components/Title/Title.tsx
  src/components/ConfirmationModal/components/Title/index.ts
  src/components/icons/Alert/Alert.module.scss
  src/components/icons/Alert/Alert.tsx
  src/components/icons/Alert/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added title with icon [#172580515]
  src/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/components/ConfirmationModal/components/Title/Title.module.scss
  src/components/icons/Alert/Alert.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Improved button alignment [#172580515]
  src/components/ConfirmationModal/ConfirmationModal.module.scss
Due: prettier --write, stylelint

Fixed pageable not being resetted after dismiss [#173444062]
  src/components/PageableModal/PageableModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed resizing clams results height
  src/components/BetDetailsModal/components/BetResultsPage/components/ClamsBetResults/ClamsBetResults.module.scss
Due: prettier --write, stylelint

Added placeholder component for copy field [#172519380]
  src/components/CopyField/CopyField.module.scss
  src/components/CopyField/CopyField.stories.tsx
  src/components/CopyField/CopyField.test.tsx
  src/components/CopyField/CopyField.tsx
  src/components/CopyField/__snapshots__/CopyField.test.tsx.snap
  src/components/CopyField/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added basic styling to copy field component [#172519380]
  src/components/CopyField/CopyField.module.scss
  src/components/CopyField/CopyField.stories.tsx
  src/components/CopyField/CopyField.tsx
  src/components/CopyField/__snapshots__/CopyField.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added copy icon to copy field [#172519380]
  src/components/CopyField/CopyField.module.scss
  src/components/CopyField/CopyField.tsx
  src/components/CopyField/__snapshots__/CopyField.test.tsx.snap
  src/components/icons/Copy/Copy.module.scss
  src/components/icons/Copy/Copy.tsx
  src/components/icons/Copy/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added copy to clipboard functionality [#172519380]
  src/components/CopyField/CopyField.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added graceful check for clipboard support [#172519380]
  src/components/CopyField/CopyField.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added fetching server seed data [#172519380]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/BetResultDetails/BetResultDetails.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.test.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/__snapshots__/ServerSeedPage.test.tsx.snap
  src/components/BetDetailsModal/components/ServerSeedPage/index.ts
  src/graphql/queries.ts
  src/models/serverSeedDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added rendering different states of server seeds [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/index.ts
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/OtherServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/OtherServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/index.ts
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added showing server hash for unauthenticated users [#172519380]
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/OtherServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OtherServerSeedDetails/OtherServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.module.scss
  src/components/CopyField/CopyField.module.scss
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added server seed hash to locked page [#172519380]
  src/assets/images/misc/seed-locked.svg
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.tsx
  src/components/icons/Lock/Lock.module.scss
  src/components/icons/Lock/Lock.tsx
  src/components/icons/Lock/index.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added change server seed button [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.tsx
  src/components/Button/Button.stories.tsx
  src/components/SecondaryButton/SecondaryButton.module.scss
  src/components/SecondaryButton/SecondaryButton.stories.tsx
  src/components/SecondaryButton/SecondaryButton.test.tsx
  src/components/SecondaryButton/SecondaryButton.tsx
  src/components/SecondaryButton/__snapshots__/SecondaryButton.test.tsx.snap
  src/components/SecondaryButton/index.ts
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed pageable modal height [#172519380]
  src/components/PageableModal/PageableModal.tsx
  src/components/PageableModal/__snapshots__/PageableModal.test.tsx.snap
  src/styles/_helpers.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added calling change server seed mutation [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/graphql/mutations.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added showing confirmation modal before changing server seed [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.module.scss
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.stories.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.test.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.tsx
  src/components/ChangeServerSeedConfirmationModal/__snapshots__/ChangeServerSeedConfirmationModal.test.tsx.snap
  src/components/ChangeServerSeedConfirmationModal/index.ts
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed secondary button [#172519380]
  src/components/SecondaryButton/SecondaryButton.module.scss
Due: prettier --write, stylelint

Added disabling button on active games [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/LockedServerSeedDetails.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/components/LockedServerSeedDetails/index.ts
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.tsx
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/SecondaryButton/SecondaryButton.tsx
  src/models/serverSeedDetails.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added error message [#172519380]
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.module.scss
  src/components/BetDetailsModal/components/ServerSeedPage/components/OwnServerSeedDetails/OwnServerSeedDetails.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed showing confirmation modal [#172519380]
  src/components/Layout/Layout.tsx
  src/state/models/modal.model.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix
