Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["tslint --fix"],
  "*.scss": ["stylelint"]
}

Fixed game buttons on safari [#171458557]
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.module.scss
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.module.scss
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.module.scss
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.module.scss
Due: prettier --write, stylelint

Improved sidebar toggle button [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/SidebarToggle/SidebarToggle.module.scss
  src/components/Layout/components/SidebarToggle/SidebarToggle.tsx
  src/components/Layout/components/SidebarToggle/__snapshots__/SidebarToggle.test.tsx.snap
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Improved sidebar size [#171458557]
  src/components/Layout/Layout.module.scss
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/styles/_variables.scss
Due: prettier --write, stylelint

Added sidebar header styles [#171458557]
  src/components/Layout/components/Sidebar/SideBar.module.scss
Due: prettier --write, stylelint

Added tab select [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.module.scss
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.stories.tsx
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.test.tsx
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.tsx
  src/components/Layout/components/Sidebar/components/TabSelect/__snapshots__/TabSelect.test.tsx.snap
  src/components/Layout/components/Sidebar/components/TabSelect/index.ts
  src/i18n/index.ts
  src/i18n/locales/sidebar/de.json
  src/i18n/locales/sidebar/en.json
  src/state/actions/sidebar.action.ts
  src/state/index.tsx
  src/state/models/sidebar.model.ts
  src/state/reducers/sidebar.reducer.ts
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added opening sidebar on desktop breakpoint by default [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/state/index.tsx
Due: prettier --write, tslint --fix

Added latest build date [#171929554]
  package.json
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  yarn.lock
Due: prettier --write, tslint --fix, stylelint

Edited datetime formatting [#171929554]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: prettier --write, tslint --fix

Removed snapshot testing from footer [#1719295564]
  src/components/Footer/Footer.test.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
Due: prettier --write, tslint --fix

Added mock for build time [#171929554]
  src/common/constants/index.ts
  src/common/util/index.ts
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Footer/Footer.test.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/setupTests.ts
Due: prettier --write, tslint --fix

Added running unit tests in utc timezone [#171929554]
  package.json
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: prettier --write

Fixed build [#171929554]
  src/common/constants/.gitkeep
  src/common/constants/index.ts
Due: prettier --write, tslint --fix

testing sync
  .circleci/config.yml
Due: none

testing rsync
  .circleci/config.yml
Due: none

cci dir
  .circleci/config.yml
Due: none

key
  .circleci/config.yml
Due: none

Added Latest Bets to Sidebar
  src/components/Layout/components/Sidebar/SideBar.tsx
Due: prettier --write, tslint --fix

Fixed unit tests
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
Due: none

Fixed last build positioning on mobile [#171929554]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Added fixed widths for carousel [#171458557]
  src/components/Carousel/Carousel.module.scss
Due: prettier --write, stylelint

Fixed breakpoint style definition for slider background [#171458557]
  src/components/Carousel/Carousel.module.scss
Due: prettier --write, stylelint

Fixed slider height [#171458557]
  src/components/Carousel/Carousel.module.scss
Due: prettier --write, stylelint

new key
  .circleci/config.yml
Due: none

Set fixed sidebar width [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Carousel/Carousel.module.scss
  src/components/GameButtonList/__snapshots__/GameButtonList.test.tsx.snap
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.module.scss
  src/components/GameButtonList/components/ClamGameButton/ClamGameButton.tsx
  src/components/GameButtonList/components/ClamGameButton/__snapshots__/ClamGameButton.test.tsx.snap
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.module.scss
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.tsx
  src/components/GameButtonList/components/DicesGameButton/__snapshots__/DicesGameButton.test.tsx.snap
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.module.scss
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.tsx
  src/components/GameButtonList/components/GoalGameButton/__snapshots__/GoalGameButton.test.tsx.snap
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.module.scss
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.tsx
  src/components/GameButtonList/components/MinesGameButton/__snapshots__/MinesGameButton.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/components/TabSelect/TabSelect.module.scss
  src/pages/home/__snapshots__/HomePage.test.tsx.snap
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added fading sidebar toggle button in and out [#171458557]
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/SidebarToggle/SidebarToggle.module.scss
  src/components/Layout/components/SidebarToggle/SidebarToggle.stories.tsx
  src/components/Layout/components/SidebarToggle/SidebarToggle.tsx
  src/components/Layout/components/TopBar/TopBar.tsx
Due: prettier --write, tslint --fix, stylelint

Improved sidebar slide animation [#171458557]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/SidebarToggle/SidebarToggle.tsx
  src/components/Layout/components/SidebarToggle/__snapshots__/SidebarToggle.test.tsx.snap
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
Due: prettier --write, tslint --fix, stylelint

Fixed initally opening sidebar on mobile [#172017306]
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/Sidebar/SideBar.tsx
Due: prettier --write, tslint --fix, stylelint

Smoothed opening and closing sidebar on mobile [#172017306]
  src/components/Layout/components/Sidebar/SideBar.module.scss
Due: prettier --write, stylelint

Added transition when resizing gamebutton images
  src/components/GameButtonList/components/DicesGameButton/DicesGameButton.module.scss
  src/components/GameButtonList/components/GoalGameButton/GoalGameButton.module.scss
  src/components/GameButtonList/components/MinesGameButton/MinesGameButton.module.scss
Due: prettier --write, stylelint

Fixed hiding sidebar initally on desktop [#172017306]
  src/components/Layout/components/Sidebar/SideBar.module.scss
Due: prettier --write, stylelint

Added slide select component [#171834987]
  src/components/SlideSelect/SlideSelect.module.scss
  src/components/SlideSelect/SlideSelect.stories.tsx
  src/components/SlideSelect/SlideSelect.test.tsx
  src/components/SlideSelect/SlideSelect.tsx
  src/components/SlideSelect/__snapshots__/SlideSelect.test.tsx.snap
  src/components/SlideSelect/index.ts
  src/styles/_variables.scss
Due: prettier --write, tslint --fix, stylelint

Added slide select to leaderboards tab [#171834987]
  src/components/App/__snapshots__/App.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/Layout/components/Sidebar/SideBar.tsx
  src/components/Layout/components/Sidebar/__snapshots__/SideBar.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.module.scss
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.test.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/index.ts
  src/components/SlideSelect/SlideSelect.stories.tsx
  src/components/SlideSelect/SlideSelect.tsx
Due: prettier --write, tslint --fix, stylelint

Added fetching leaderboards data [#171834987]
  src/components/App/App.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.module.scss
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/LeaderboardTable/LeaderboardTable.scss
  src/components/LeaderboardTable/LeaderboardTable.test.tsx
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/BetRow/BetRow.scss
  src/components/LeaderboardTable/components/BetRow/BetRow.tsx
  src/components/LeaderboardTable/components/BetRow/index.ts
  src/components/LeaderboardTable/components/SpacerRow/SpacerRow.tsx
  src/components/LeaderboardTable/components/SpacerRow/index.ts
  src/components/LeaderboardTable/index.ts
  src/graphql/client.ts
  src/graphql/subscriptions.ts
  src/models/leader.model.ts
Due: prettier --write, tslint --fix, stylelint

Improved leaderboard table styling [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.module.scss
  src/components/LeaderboardTable/LeaderboardTable.tsx
  src/components/LeaderboardTable/components/BetRow/BetRow.scss
  src/components/LeaderboardTable/components/BetRow/BetRow.tsx
  src/components/LeaderboardTable/components/BetRow/index.ts
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.module.scss
  src/components/LeaderboardTable/components/LeaderboardRow/LeaderboardRow.tsx
  src/components/LeaderboardTable/components/LeaderboardRow/index.ts
  src/styles/_typography.scss
  src/styles/_variables.scss
  src/styles/base.scss
Due: prettier --write, tslint --fix, stylelint

Fixed mocking apollo client in unit test [#171834987]
  package.json
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.test.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/__snapshots__/LeaderboardsTab.test.tsx.snap
  src/components/LeaderboardTable/LeaderboardTable.test.tsx
  src/components/LeaderboardTable/__snapshots__/LeaderboardTable.test.tsx.snap
  yarn.lock
Due: prettier --write, tslint --fix

Added *.test.egonoid.net certificate to Serverless configuration
  serverless.yml
Due: none

Added Aliases for cazzzino.test.egonoid.net (and another one for testing purposes)
  serverless.yml
Due: none

Removed test Alias for cazzzino2.test.egonoid.net and added stage variable
  serverless.yml
Due: none

Fixed warning [#171834987]
  src/components/LeaderboardTable/LeaderboardTable.tsx
Due: prettier --write, tslint --fix
