Repository WinterBoy-Galois/cazino-nft-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

.lintstagedrc:

{
  "*.{ts,tsx,scss,json,md}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint '*/**/*.{js,ts,tsx}' --fix"],
  "*.scss": ["stylelint"]
}

Added translation [#173468976]
  src/components/MyBetsTable/MyBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed showing user info modal
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.test.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed moving password label on windows [#173851219]
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added additional constraints to username validation on SignUp
  src/components/SignUpModal/lib/validationSchema.test.ts
  src/components/SignUpModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added whilelist tests for special characters
  src/components/SignUpModal/lib/validationSchema.test.ts
  src/components/SignUpModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed selecting forgot password [#173851219]
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added alphanumeric check with special character for Password
  src/components/SignUpModal/lib/validationSchema.test.ts
  src/components/SignUpModal/lib/validationSchema.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added specific validation messages for testing
  src/components/SignUpModal/lib/validationSchema.test.ts
  src/components/SignUpModal/lib/validationSchema.ts
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added translations for new validations
  src/i18n/locales/auth/de.json
  src/i18n/locales/auth/en.json
Due: prettier --write

Added showing balance when signed-in
  src/components/Layout/Layout.tsx
  src/components/Layout/components/BottomBar/BottomBar.tsx
  src/graphql/mutations.ts
  src/graphql/queries.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed avatar spacing on user info and bet details
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
  src/components/Username/Username.module.scss
  src/components/Username/Username.tsx
  src/components/Username/__snapshots__/Username.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Fixed user info queries
  src/graphql/queries.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added CI build for feature|release|master
  .travis.yml
Due: none

Finished feature #174206931: Environment Configuration
  .env
  .gitignore
  src/common/config/index.ts
  src/common/util/environment.util.ts
  src/components/Layout/components/Sidebar/components/LatestBetsTab/LatestBetsTab.tsx
  src/graphql/client.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed location errors on storybook
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/BetDetailsModal/components/ServerSeedPage/ServerSeedPage.stories.tsx
  src/components/LatestBetsTable/LatestBetsTable.stories.tsx
  src/pages/ProfilePage/components/UserInfo/UserInfo.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed storybook stories
  src/components/Carousel/Carousel.stories.tsx
  src/components/Layout/components/Sidebar/SideBar.stories.tsx
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed my bets table signed in state
  src/components/MyBetsTable/MyBetsTable.stories.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed details alignment
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.module.scss
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/DetailList/DetailList.module.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Removed authoverlay story
  src/components/AuthOverlay/AuthOverlay.stories.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed alignment in bet results page
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.module.scss
  src/components/BetDetailsModal/components/BetResultsPage/BetResultsPage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added change password in user profile [#173892196]
  src/components/CardHeadline/CardHeadline.tsx
  src/components/CardHeadline/__snapshots__/CardHeadline.test.tsx.snap
  src/components/PasswordInput/PasswordInput.tsx
  src/components/PasswordInput/__snapshots__/PasswordInput.test.tsx.snap
  src/components/PasswordResetModal/__snapshots__/PasswordResetModal.test.tsx.snap
  src/components/SignInModal/__snapshots__/SignInModal.test.tsx.snap
  src/components/SignUpModal/__snapshots__/SignUpModal.test.tsx.snap
  src/graphql/mutations.ts
  src/i18n/locales/profile/de.json
  src/i18n/locales/profile/en.json
  src/pages/ProfilePage/ProfilePage.module.scss
  src/pages/ProfilePage/ProfilePage.stories.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/components/Security/Security.module.scss
  src/pages/ProfilePage/components/Security/Security.stories.tsx
  src/pages/ProfilePage/components/Security/Security.test.tsx
  src/pages/ProfilePage/components/Security/Security.tsx
  src/pages/ProfilePage/components/Security/__snapshots__/Security.test.tsx.snap
  src/pages/ProfilePage/components/Security/index.ts
  src/pages/ProfilePage/components/Security/lib/validationSchema.ts
  src/pages/ProfilePage/components/Statistics/Statistics.stories.tsx
  src/pages/ProfilePage/components/Statistics/Statistics.tsx
  src/pages/ProfilePage/components/Statistics/__snapshots__/Statistics.test.tsx.snap
  src/pages/ProfilePage/components/UserInfo/UserInfo.stories.tsx
  src/pages/ProfilePage/components/UserInfo/__snapshots__/UserInfo.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Changed mouse events to fix disappearing modals
  src/hooks/useClickOutside.hook.ts
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added updating preferences via user profile [#173892189]
  src/components/SwitchInput/SwitchInput.module.scss
  src/components/SwitchInput/SwitchInput.stories.tsx
  src/components/SwitchInput/SwitchInput.test.tsx
  src/components/SwitchInput/SwitchInput.tsx
  src/components/SwitchInput/__snapshots__/SwitchInput.test.tsx.snap
  src/components/SwitchInput/index.ts
  src/components/UserStatistics/UserStatistics.stories.tsx
  src/components/UserStatistics/UserStatistics.tsx
  src/graphql/mutations.ts
  src/graphql/queries.ts
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
  src/i18n/locales/profile/de.json
  src/i18n/locales/profile/en.json
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/components/Preferences/Preferences.module.scss
  src/pages/ProfilePage/components/Preferences/Preferences.stories.tsx
  src/pages/ProfilePage/components/Preferences/Preferences.test.tsx
  src/pages/ProfilePage/components/Preferences/Preferences.tsx
  src/pages/ProfilePage/components/Preferences/__snapshots__/Preferences.test.tsx.snap
  src/pages/ProfilePage/components/Preferences/index.ts
  src/pages/ProfilePage/components/Preferences/lib/preferences.ts
  src/pages/ProfilePage/components/Statistics/Statistics.stories.tsx
  src/pages/ProfilePage/components/UserInfo/UserInfo.tsx
  src/styles/_variables.scss
  src/styles/bootstrap/_variables.overrides.scss
  src/styles/bootstrap/base.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Added plop.js templates for BasicComponent
  plop-templates/BasicComponent/Component.module.scss.hbs
  plop-templates/BasicComponent/Component.stories.tsx.hbs
  plop-templates/BasicComponent/Component.test.tsx.hbs
  plop-templates/BasicComponent/Component.tsx.hbs
  plop-templates/BasicComponent/__snapshots__/Component.test.tsx.snap.hbs
  plop-templates/BasicComponent/index.ts.hbs
  plopfile.js
Due: none

Finished feature #173885982: User Menu
  src/components/App/App.tsx
  src/components/Layout/Layout.module.scss
  src/components/Layout/components/Sidebar/SideBar.module.scss
  src/components/Layout/components/TopBar/TopBar.tsx
  src/components/Layout/components/TopBar/__snapshots__/TopBar.test.tsx.snap
  src/components/ScrollToTop/ScrollToTop.test.tsx
  src/components/ScrollToTop/ScrollToTop.tsx
  src/components/ScrollToTop/__snapshots__/ScrollToTop.test.tsx.snap
  src/components/ScrollToTop/index.ts
  src/components/UserMenu/UserMenu.module.scss
  src/components/UserMenu/UserMenu.stories.tsx
  src/components/UserMenu/UserMenu.test.tsx
  src/components/UserMenu/UserMenu.tsx
  src/components/UserMenu/__snapshots__/UserMenu.test.tsx.snap
  src/components/UserMenu/index.ts
  src/hooks/useClickOutside.hook.ts
  src/i18n/locales/common/de.json
  src/i18n/locales/common/en.json
  src/styles/_variables.scss
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

As dev.gambilife.com serves no avatars anymore, switched all occurrences to staging.jinglebets.com
  src/components/Avatar/Avatar.stories.tsx
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.stories.tsx
  src/components/Layout/Layout.test.tsx
  src/components/Layout/components/TopBar/TopBar.stories.tsx
  src/components/UserInfoModal/UserInfoModal.stories.tsx
  src/components/UserInfoModal/UserInfoModal.test.tsx
  src/components/UserInfoModal/__snapshots__/UserInfoModal.test.tsx.snap
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed broken redirects
  src/components/BetDetailsModal/BetDetailsModal.tsx
  src/components/ChangeServerSeedConfirmationModal/ChangeServerSeedConfirmationModal.tsx
  src/components/Layout/components/Modals/Modals.tsx
  src/components/PasswordRecoveryModal/PasswordRecoveryModal.tsx
  src/components/PasswordResetModal/PasswordResetModal.tsx
  src/components/Referrals/Referrals.tsx
  src/components/SignInModal/SignInModal.tsx
  src/components/SignUpModal/SignUpModal.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
  src/pages/ProfilePage/ProfilePage.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Finished bug #174526825: User Info modal shouldn't close automatically after opening from leaderboards
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.test.tsx
  src/components/Layout/components/Sidebar/components/LeaderboardsTab/LeaderboardsTab.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added script to generate possibleTypes for Apollo
  .prettierignore
  package.json
  scripts/apollo/generatePossibleTypes.js
  src/graphql/client.ts
  src/graphql/fragmentTypes.json
  src/graphql/possibleTypes.json
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed bug #174528114: Modal enter animation is not displayed
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Upgraded packages
  package.json
  src/components/Layout/components/Sidebar/SideBar.test.tsx
  yarn.lock
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Refactored and fixed Plop.js templates
  .plop-templates/BasicComponent/plopfile.js
  .plop-templates/BasicComponent/template/Component.module.scss.hbs
  .plop-templates/BasicComponent/template/Component.stories.tsx.hbs
  .plop-templates/BasicComponent/template/Component.test.tsx.hbs
  .plop-templates/BasicComponent/template/Component.tsx.hbs
  .plop-templates/BasicComponent/template/__snapshots__/Component.test.tsx.snap.hbs
  .plop-templates/BasicComponent/template/index.ts.hbs
  .prettierignore
  .vsc-templates/BasicComponent.vsc-template.ts
  .vscode/settings.json
  plopfile.js
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Added dependabot config
  .github/dependabot.yml
Due: none

Bumped version to 0.4.5
  package.json
Due: prettier --write

Squashed commit of the following:
  src/components/LatestBetsTable/LatestBetsTable.module.scss
  src/components/LatestBetsTable/LatestBetsTable.tsx
  src/components/LatestBetsTable/components/BetRow/BetRow.module.scss
  src/components/LatestBetsTable/components/BetRow/BetRow.tsx
  src/components/MyBetsTable/MyBetsTable.tsx
  src/components/MyBetsTable/components/BetRow/BetRow.module.scss
  src/components/MyBetsTable/components/BetRow/BetRow.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix, stylelint

Squashed commit of the following:
  src/components/BetDetailsModal/components/BetDetailsPage/BetDetailsPage.tsx
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix

Fixed always displaying back button [#174621702]
  src/components/UserInfoModal/UserInfoModal.tsx
Due: prettier --write, eslint '*/**/*.{js,ts,tsx}' --fix
